<%= simple_form_for @talent do |t| %>
    <div class="form-group">
    <%= t.input :name, input_html: { class: 'form-control'} %>
    <%= t.input :about, input_html: { class: 'form-control'} %>
    <%= t.input :title, input_html: { class: 'form-control'} %>
    <%= t.input :insta_link, input_html: { class: 'form-control'} %>
    <%= t.input :youtube_link, input_html: { class: 'form-control'} %>
    <%= t.input :tiktok_link, input_html: { class: 'form-control'} %>
    <%= t.input :audience_male, input_html: { class: 'form-control'} %>
    <%= t.input :audience_female, input_html: { class: 'form-control'} %>
    <%= t.button :submit, class: 'btn btn-info' %>
  </div>
<% end %>
