<%#= cache @talents do %>
 <div class="scroll">
   <div class="smooth">
    <section class="talents" id="campaign">
      <div class="content">
        <div class="text-content">
           <h2><%= t('talents.title') %></h2>
          <div class="nav nav-pills d-flex justify-content-between" id="pills-tab" role="tablist">
            <a class="nav-link active" id="pills-all-tab" data-toggle="pill" href="#pills-all" role="tab" aria-controls="pills-all" aria-selected="true"><%= t('talents.tab1') %></a>
            <a class="nav-link" id="pills-green-tab" data-toggle="pill" href="#pills-green" role="tab" aria-controls="pills-green" aria-selected="false"><%= t('talents.tab2') %></a>
            <a class="nav-link" id="pills-lifestyle-tab" data-toggle="pill" href="#pills-lifestyle" role="tab" aria-controls="pills-lifestyle" aria-selected="false"><%= t('talents.tab3') %></a>
            <a class="nav-link" id="pills-fashion-tab" data-toggle="pill" href="#pills-fashion" role="tab" aria-controls="pills-fashion" aria-selected="false"><%= t('talents.tab5') %></a>
            <% if user_signed_in? %>
                <%= link_to t('talents.tab6'), new_talent_path, class: "nav-link" %>
            <% end %>
          </div>
        </div>
      </div>
      <div class="content">
        <div class="tab-content" id="pills-tabContent">
          <div class="tab-pane fade show active" id="pills-all" role="tabpanel" aria-labelledby="pills-all-tab" data-controller="all">
            <div class="img-wrapper">
              <% @talents.each do |talent|%>

                <%= link_to talent_path(talent) do %>
                  <div class="campaign-card">
                    <div class="background" style="background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url('<%= talent.photos.attached? ? cl_image_path(talent.photos.first.key, crop: :fill, width: 800) : "https://source.unsplash.com/1600x900/?model" %>'); background-position: center; background-size: cover">
                      <% if talent.category == "green" %>
                        <i class="fa-solid fa-seedling m-3" style="position: absolute; right: 0; padding: 10px; font-size: 20px; border: 1px solid black; border-radius: 50px; z-index: 1000; color: black;"></i>
                      <% end %>
                      <div class="card-info">
                        <div class="top py-1">
                          <div class="info">
                            <p class="px-3 tag">
                            </p>
                          </div>
                        </div>

                        <div>
                          <h2 class="info title"> <%= talent.name%> </h2>
                          <p class="info justify-content-center"><%= talent.category.upcase %></p>
                        </div>

                        <div class="bottom">
                          <div class="info justify-content-center">
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                <% end %>

              <% end %>
            </div>
          </div>

          <div class="tab-pane fade" id="pills-green" role="tabpanel" aria-labelledby="pills-green-tab">
            <div class="img-wrapper">

              <% @talents.where(category: 'green').each do |talent| %>

                <%= link_to talent_path(talent) do %>
                  <div class="campaign-card">
                    <div class="background" style="background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url('<%= talent.photos.attached? ? cl_image_path(talent.photos.first.key, crop: :fill, width: 800) : "https://source.unsplash.com/1600x900/?model" %>'); background-position: center; background-size: cover">
                      <% if talent.category == "green" %>
                        <i class="fa-solid fa-seedling m-3" style="position: absolute; right: 0; padding: 10px; font-size: 20px; border: 1px solid black; border-radius: 50px; z-index: 1000; color: black;"></i>
                      <% end %>
                      <div class="card-info">
                        <div class="top py-1">
                          <div class="info">
                            <p class="px-3 tag">
                            </p>
                          </div>
                        </div>

                        <div>
                          <h2 class="info title"> <%= talent.name%> </h2>
                          <p class="info justify-content-center"><%= talent.category.upcase %></p>
                        </div>

                        <div class="bottom">
                          <div class="info justify-content-center">
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                <% end %>

              <% end %>
            </div>
          </div>

          <div class="tab-pane fade" id="pills-lifestyle" role="tabpanel" aria-labelledby="pills-lifestyle-tab">
            <div class="img-wrapper">
              <% @talents.where(category: 'lifestyle').each do |talent|%>

                <%= link_to talent_path(talent) do %>
                  <div class="campaign-card">
                    <div class="background" style="background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url('<%= talent.photos.attached? ? cl_image_path(talent.photos.first.key, crop: :fill, width: 800) : "https://source.unsplash.com/1600x900/?model" %>'); background-position: center; background-size: cover">
                      <% if talent.category == "green" %>
                        <i class="fa-solid fa-seedling m-3" style="position: absolute; right: 0; padding: 10px; font-size: 20px; border: 1px solid black; border-radius: 50px; z-index: 1000; color: black;"></i>
                      <% end %>
                      <div class="card-info">
                        <div class="top py-1">
                          <div class="info">
                            <p class="px-3 tag">
                            </p>
                          </div>
                        </div>

                        <div>
                          <h2 class="info title"> <%= talent.name%> </h2>
                          <p class="info justify-content-center"><%= talent.category.upcase %></p>
                        </div>

                        <div class="bottom">
                          <div class="info justify-content-center">
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                <% end %>

              <% end %>
            </div>
          </div>

          <div class="tab-pane fade" id="pills-fashion" role="tabpanel" aria-labelledby="pills-fashion-tab">
            <div class="img-wrapper">

              <% @talents.where(category: 'fashion').each do |talent|%>

                <%= link_to talent_path(talent) do %>
                  <div class="campaign-card">
                    <div class="background" style="background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url('<%= talent.photos.attached? ? cl_image_path(talent.photos.first.key, crop: :fill, width: 800) : "https://source.unsplash.com/1600x900/?model" %>'); background-position: center; background-size: cover">
                      <% if talent.category == "green" %>
                        <i class="fa-solid fa-seedling m-3" style="position: absolute; right: 0; padding: 10px; font-size: 20px; border: 1px solid black; border-radius: 50px; z-index: 1000; color: black;"></i>
                      <% end %>
                      <div class="card-info">
                        <div class="top py-1">
                          <div class="info">
                            <p class="px-3 tag">
                            </p>
                          </div>
                        </div>

                        <div>
                          <h2 class="info title"> <%= talent.name%> </h2>
                          <p class="info justify-content-center"><%= talent.category.upcase %></p>
                        </div>

                        <div class="bottom">
                          <div class="info justify-content-center">
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                <% end %>

              <% end %>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="talents" id="footer-section">

      <div class="content">
          <div class="" style="">
            <%= link_to root_path do %>
              <%= image_tag 'logo-blanc.png', alt:"ADCREW Agency", width: 200 %>
            <% end %>
          </div>

          <div class="" style="">
            <h6><%= t('footer.title') %></h6>
            <p>104 rue Réaumur <br> 75002 Paris <br> +33 (0)1 42 86 97 16 <br> <a href="mailto:contact@adcrew-paris.com" target="_blank">contact@adcrew-paris.com</a>
          </div>

          <div class="" style="">
            <h6><%= t('footer.title2') %></h6>
            <ul class="footer-links">
              <li><a> <%= link_to t('footer.links.campaigns'), campaigns_path %></a></li>
              <li><a> <%= link_to t('footer.links.talents'), talents_path %> </a></li>
              <li><a> <%= link_to t('footer.links.mentions'), mentions_path %></a></li>
              <li><a> <% if user_signed_in? %>
                <%= link_to t('footer.links.signout'), destroy_user_session_path, method: :delete %>
              <% else %>
                <%= link_to t('footer.links.signin'), new_user_session_path %>
              <% end %>
              </a></li>
              <li>
              </li>
            </ul>
          </div>

          <div class="" style="text-align:center">
            <ul class="social-icons">
              <li><a class="instagram" href="https://www.instagram.com/adcrew_agency/" target="_blank"><i class="fab fa-instagram"></i></a></li>
              <li><a class="linkedin" href="https://www.linkedin.com/company/adcrew-paris/" target="_blank"><i class="fab fa-linkedin"></i></a></li>
            </ul>
          </div>
      </div>

      <div class="content" style=" width: 82vw; height: 10vh;">
        <p class="copyright-text">Copyright &copy; 2022 All Rights Reserved by
          <a> <%= link_to "Adcrew", root_path %></a>.
        </p>
        <span>Made with <span class="heart">♥</span> by O&A</span>
      </div>
    </section>
   </div>
 </div>
<%# end %>
