<!-- <div class="talent-header container">
  <div class="talent-title">
    <span>Talents</span>
    <h1>Notre famille AD CREW</h1>
  </div>
  <div class="talent-wording">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit, molestiae!</p>
  </div>
  <div class="line-talents" style="margin-bottom:10px"></div>
  <% if user_signed_in? %>
    <div class="talent-new">
      <%= link_to new_talent_path do%>
        <%= image_tag 'plus-front-premium.png', alt: 'New talent', width: 30 %>
      <% end %>
    </div>
  <% end %>
  <div class="talents-tab">
    <ul class="nav nav-pills mb-1 d-flex justify-content-around" id="pills-tab" role="tablist">
      <li class="nav-item">
        <a class="nav-link active" id="pills-all-tab" data-toggle="pill" href="#pills-all" role="tab" aria-controls="pills-all" aria-selected="true">All</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="pills-green-tab" data-toggle="pill" href="#pills-green" role="tab" aria-controls="pills-green" aria-selected="false">Green</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="pills-urban-tab" data-toggle="pill" href="#pills-urban" role="tab" aria-controls="pills-urban" aria-selected="false">Urban</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="pills-fashion-tab" data-toggle="pill" href="#pills-fashion" role="tab" aria-controls="pills-fashion" aria-selected="false">Fashion</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="pills-positivism-tab" data-toggle="pill" href="#pills-positivism" role="tab" aria-controls="pills-positivism" aria-selected="false">Positivism</a>
      </li>
    </ul>
  </div>
</div>
<div class="tab-content" id="pills-tabContent">
  <div class="tab-pane fade show active" id="pills-all" role="tabpanel" aria-labelledby="pills-all-tab" data-controller="all">
    <div class="cards">
      <% @talents.each do |talent| %>
        <%= link_to talent, target:"_blank" do %>
          <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= talent.photos.attached? ? cl_image_path(talent.photos.first.key) : asset_path('background.jpeg') %>)">
          <span><%=talent.name %></span>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>

  <div class="tab-pane fade" id="pills-urban" role="tabpanel" aria-labelledby="pills-urban-tab">
    <div class="pole-description">
      <span>POLE URBAN</span>
      <p> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nobis quasi nostrum temporibus. Odit laborum quibusdam illum labore dicta asperiores magni quisquam fugit, nobis deserunt praesentium! Natus neque facilis illum aut eos quasi incidunt quam. Ab, doloremque ratione suscipit maiores asperiores similique, nostrum architecto sequi, adipisci sunt numquam dolore rerum vitae!</p>
    </div>
    <div class="cards">
      <% @talents.where(category: 'urban').each do |talent| %>
        <%= link_to talent, target:"_blank" do %>
          <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= talent.photos.attached? ? cl_image_path(talent.photos.first.key) : asset_path('background.jpeg') %>)">
            <span><%= talent.name %></span>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>

  <div class="tab-pane fade" id="pills-fashion" role="tabpanel" aria-labelledby="pills-fashion-tab">
    <div class="pole-description">
      <span>POLE FASHION</span>
      <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nobis quasi nostrum temporibus. Odit laborum quibusdam illum labore dicta asperiores magni quisquam fugit, nobis deserunt praesentium! Natus neque facilis illum aut eos quasi incidunt quam. Ab, doloremque ratione suscipit maiores asperiores similique, nostrum architecto sequi, adipisci sunt numquam dolore rerum vitae!</p>
    </div>
    <div class="cards">
      <% @talents.where(category: 'fashion').each do |talent| %>
      <%= link_to talent, target:"_blank" do %>
          <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= talent.photos.attached? ? cl_image_path(talent.photos.first.key) : asset_path('background.jpeg') %>)">
            <span><%= talent.name %></span>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>

  <div class="tab-pane fade" id="pills-positivism" role="tabpanel" aria-labelledby="pills-positivism-tab">
    <div class="pole-description">
      <span>POLE POSITIVISM</span>
      <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nobis quasi nostrum temporibus. Odit laborum quibusdam illum labore dicta asperiores magni quisquam fugit, nobis deserunt praesentium! Natus neque facilis illum aut eos quasi incidunt quam. Ab, doloremque ratione suscipit maiores asperiores similique, nostrum architecto sequi, adipisci sunt numquam dolore rerum vitae!</p>
    </div>
    <div class="cards">
      <% @talents.where(category: 'positivism').each do |talent| %>
        <%= link_to talent, target:"_blank" do %>
          <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= talent.photos.attached? ? cl_image_path(talent.photos.first.key) : asset_path('background.jpeg') %>)">
            <span><%= talent.name %></span>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>

  <div class="tab-pane fade" id="pills-green" role="tabpanel" aria-labelledby="pills-green-tab">
    <div class="pole-description">
      <span>POLE GREEN</span>
      <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nobis quasi nostrum temporibus. Odit laborum quibusdam illum labore dicta asperiores magni quisquam fugit, nobis deserunt praesentium! Natus neque facilis illum aut eos quasi incidunt quam. Ab, doloremque ratione suscipit maiores asperiores similique, nostrum architecto sequi, adipisci sunt numquam dolore rerum vitae!</p>
    </div>
    <div class="cards">
      <% @talents.where(category: 'green').each do |talent| %>
        <%= link_to talent, target:"_blank" do %>
          <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= talent.photos.attached? ? cl_image_path(talent.photos.first.key) : asset_path('background.jpeg') %>)">
            <span><%= talent.name %></span>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
 -->

 <div class="scroll">
   <div class="smooth">

     <section class="campaigns" id="preview-campaign">
       <div class="content">
         <div class="text-content">
           <h2>NOS TALENTS</h2>
           <p class="pt-3">
             AD CREW est une agence parisienne spécialisée dans le marketing d’influence. Son rôle est de mettre en relation les marques et les influenceurs.
           </p>
         </div>
       </div>
       <div class="content">
         <div class="img-wrapper">
           <div class="gif-talent" id="gif-one"></div>
           <p class="note">
             Lorem ipsum dolor sit amet consectetur adipisicing, elit. Iure consequatur tempore, alias maxime totam ipsa praesentium quaerat velit voluptatem numquam ex soluta sint officia? Possimus <span> nemo pariatur </span> aperiam, tenetur velit! Repudiandae natus quod alias facilis dignissimos esse repellendus accusantium nobis eius! Sit alias dolor ipsam minus deserunt esse, nemo!
           </p>
           <div class="gif-talent" id="gif-two"></div>
           <div class="gif-talent" id="gif-three"></div>
           <div class="rounded-shape">
           </div>
         </div>
       </div>
     </section>

    <section class="campaigns" id="campaign">
      <div class="content">
        <div class="text-content">
          <div class="nav nav-pills d-flex justify-content-between" id="pills-tab" role="tablist">
            <a class="nav-link active" id="pills-all-tab" data-toggle="pill" href="#pills-all" role="tab" aria-controls="pills-all" aria-selected="true">ALL</a>
            <a class="nav-link" id="pills-green-tab" data-toggle="pill" href="#pills-green" role="tab" aria-controls="pills-green" aria-selected="false">GREEN</a>
            <a class="nav-link" id="pills-positivism-tab" data-toggle="pill" href="#pills-positivism" role="tab" aria-controls="pills-positivism" aria-selected="false">POSITIVE</a>
            <a class="nav-link" id="pills-urban-tab" data-toggle="pill" href="#pills-urban" role="tab" aria-controls="pills-urban" aria-selected="false">URBAN</a>
            <a class="nav-link" id="pills-fashion-tab" data-toggle="pill" href="#pills-fashion" role="tab" aria-controls="pills-fashion" aria-selected="false">FASHION</a>
            <% if user_signed_in? %>
            <%= link_to 'ADD A TALENT', new_talent_path %>
            <% end %>
          </div>
        </div>
      </div>
      <div class="content">
        <div class="tab-content" id="pills-tabContent">
          <div class="tab-pane fade show active" id="pills-all" role="tabpanel" aria-labelledby="pills-all-tab" data-controller="all">
            <div class="img-wrapper">
              <% @talents.each do |talent|%>

                <%= link_to talent_path(talent) do %>
                  <div class="campaign-card">
                    <div class="background" style="background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url('<%= talent.photos.attached? ? cl_image_path(talent.photos.first.key) : "https://source.unsplash.com/1600x900/?model" %>'); background-position: center; background-size: cover">
                      <div class="card-info">
                        <div class="top py-1">
                          <div class="info">
                            <p class="px-3 tag"><%= talent.category %></p>
                          </div>
                        </div>

                        <h2 class="info title"> <%= talent.name%> </h2>

                        <div class="bottom">
                          <div class="info justify-content-center">
                          <p><%= talent.category %></p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                <% end %>

              <% end %>
            </div>
          </div>

          <div class="tab-pane fade" id="pills-green" role="tabpanel" aria-labelledby="pills-green-tab">
            <div class="img-wrapper">
            <div class="pole-description">
              <span>POLE GREEN</span>
              <p class="note-talent">AD CREW se positionne comme la référence dans le domaine du Green. Via ses diverses campagnes de sensibilisation mais aussi de terrain, elle se démarque sur le marché de l’éco-responsabilité et de l’écologie en prônant des valeurs fortes dans le but de faire bouger les mœurs.</p>
            </div>
              <% @talents.where(category: 'green').each do |talent|%>

                <%= link_to talent_path(talent) do %>
                  <div class="campaign-card">
                    <div class="background" style="background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url('<%= talent.photos.attached? ? cl_image_path(talent.photos.first.key) : "https://source.unsplash.com/1600x900/?model" %>'); background-position: center; background-size: cover">
                      <div class="card-info">
                        <div class="top py-1">
                          <div class="info">
                            <p class="px-3 tag"><%= talent.category %></p>
                          </div>
                        </div>

                        <h2 class="info title"> <%= talent.name%> </h2>

                        <div class="bottom">
                          <div class="info justify-content-center">
                          <p><%= talent.category %></p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                <% end %>

              <% end %>
            </div>
          </div>

          <div class="tab-pane fade" id="pills-positivism" role="tabpanel" aria-labelledby="pills-positivism-tab">
            <div class="img-wrapper">
              <div class="pole-description">
              <span>POLE POSITIVISM</span>
              <p class="note-talent">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nobis quasi nostrum temporibus. Odit laborum quibusdam illum labore dicta asperiores magni quisquam fugit, nobis deserunt praesentium! Natus neque facilis illum aut eos quasi incidunt quam. Ab, doloremque ratione suscipit maiores asperiores similique, nostrum architecto sequi, adipisci sunt numquam dolore rerum vitae!</p>
            </div>
              <% @talents.where(category: 'positivism').each do |talent|%>

                <%= link_to talent_path(talent) do %>
                  <div class="campaign-card">
                    <div class="background" style="background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url('<%= talent.photos.attached? ? cl_image_path(talent.photos.first.key) : "https://source.unsplash.com/1600x900/?model" %>'); background-position: center; background-size: cover">
                      <div class="card-info">
                        <div class="top py-1">
                          <div class="info">
                            <p class="px-3 tag"><%= talent.category %></p>
                          </div>
                        </div>

                        <h2 class="info title"> <%= talent.name%> </h2>

                        <div class="bottom">
                          <div class="info justify-content-center">
                          <p><%= talent.category %></p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                <% end %>

              <% end %>
            </div>
          </div>

          <div class="tab-pane fade" id="pills-urban" role="tabpanel" aria-labelledby="pills-urban-tab">
            <div class="img-wrapper">
              <div class="pole-description">
              <span>POLE URBAN</span>
              <p class="note-talent">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nobis quasi nostrum temporibus. Odit laborum quibusdam illum labore dicta asperiores magni quisquam fugit, nobis deserunt praesentium! Natus neque facilis illum aut eos quasi incidunt quam. Ab, doloremque ratione suscipit maiores asperiores similique, nostrum architecto sequi, adipisci sunt numquam dolore rerum vitae!</p>
            </div>
              <% @talents.where(category: 'urban').each do |talent|%>

                <%= link_to talent_path(talent) do %>
                  <div class="campaign-card">
                    <div class="background" style="background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url('<%= talent.photos.attached? ? cl_image_path(talent.photos.first.key) : "https://source.unsplash.com/1600x900/?model" %>'); background-position: center; background-size: cover">
                      <div class="card-info">
                        <div class="top py-1">
                          <div class="info">
                            <p class="px-3 tag"><%= talent.category %></p>
                          </div>
                        </div>

                        <h2 class="info title"> <%= talent.name%> </h2>

                        <div class="bottom">
                          <div class="info justify-content-center">
                          <p><%= talent.category %></p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                <% end %>

              <% end %>
            </div>
          </div>

          <div class="tab-pane fade" id="pills-fashion" role="tabpanel" aria-labelledby="pills-fashion-tab">
            <div class="img-wrapper">
              <div class="pole-description">
              <span>POLE FASHION</span>
              <p class="note-talent">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nobis quasi nostrum temporibus. Odit laborum quibusdam illum labore dicta asperiores magni quisquam fugit, nobis deserunt praesentium! Natus neque facilis illum aut eos quasi incidunt quam. Ab, doloremque ratione suscipit maiores asperiores similique, nostrum architecto sequi, adipisci sunt numquam dolore rerum vitae!</p>
            </div>
              <% @talents.where(category: 'fashion').each do |talent|%>

                <%= link_to talent_path(talent, target: "_blank") do %>
                  <div class="campaign-card">
                    <div class="background" style="background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url('<%= talent.photos.attached? ? cl_image_path(talent.photos.first.key) : "https://source.unsplash.com/1600x900/?model" %>'); background-position: center; background-size: cover">
                      <div class="card-info">
                        <div class="top py-1">
                          <div class="info">
                            <p class="px-3 tag"><%= talent.category %></p>
                          </div>
                        </div>

                        <h2 class="info title"> <%= talent.name%> </h2>

                        <div class="bottom">
                          <div class="info justify-content-center">
                          <p><%= talent.category %></p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                <% end %>

              <% end %>
            </div>
          </div>
        </div>
      </div>
    </section>

   </div>
 </div>
