
 <div class="scroll">
   <div class="smooth">

     <%# <section class="campaigns" id="preview-campaign">
       <div class="content">
        <div class="text-content">
           <%# <h2>= t('talents.title')</h2>
           <%# <p class="pt-3">
             <%#= t('talents.paragraphe') %>
           <%# </p> %>
        <%# </div>
       </div>
       <%# <div class="content">
         <div class="img-wrapper">
           <div class="gif-talent" id="gif-one"></div>
           <p class="note">
            <%#= t('talents.note') %>
           <%# </p>
           <div class="gif-talent" id="gif-two"></div>
           <div class="gif-talent" id="gif-three"></div>
           <div class="rounded-shape">
           </div>
         </div>
       </div> %>
     <%# </section> %>

    <section class="talents" id="campaign">
      <div class="content">
        <div class="text-content">
           <h2><%= t('talents.title') %></h2>
          <div class="nav nav-pills d-flex justify-content-between" id="pills-tab" role="tablist">
            <a class="nav-link active" id="pills-all-tab" data-toggle="pill" href="#pills-all" role="tab" aria-controls="pills-all" aria-selected="true"><%= t('talents.tab1') %></a>
            <a class="nav-link" id="pills-green-tab" data-toggle="pill" href="#pills-green" role="tab" aria-controls="pills-green" aria-selected="false"><%= t('talents.tab2') %></a>
            <a class="nav-link" id="pills-lifestyle-tab" data-toggle="pill" href="#pills-lifestyle" role="tab" aria-controls="pills-lifestyle" aria-selected="false"><%= t('talents.tab3') %></a>
            <a class="nav-link" id="pills-fashion-tab" data-toggle="pill" href="#pills-fashion" role="tab" aria-controls="pills-fashion" aria-selected="false"><%= t('talents.tab5') %></a>
            <% if user_signed_in? %>
              <%# if policy(Talent).create? %>
                <%= link_to t('talents.tab6'), new_talent_path, class: "nav-link" %>
              <%# end %>
            <% end %>
          </div>
        </div>
      </div>
      <div class="content">
        <div class="tab-content" id="pills-tabContent">
          <div class="tab-pane fade show active" id="pills-all" role="tabpanel" aria-labelledby="pills-all-tab" data-controller="all">
            <div class="img-wrapper">
              <% @talents.each do |talent|%>

                <%= link_to talent_path(talent), target:"_blank" do %>
                  <div class="campaign-card">
                    <div class="background" style="background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url('<%= talent.photos.attached? ? cl_image_path(talent.photos.first.key) : "https://source.unsplash.com/1600x900/?model" %>'); background-position: center; background-size: cover">
                      <% if talent.category == "green" %>
                        <i class="fa-solid fa-seedling m-3" style="position: absolute;right: 0; padding: 10px; font-size: 20px; border: 1px solid black; border-radius: 50px;"></i>
                      <% end %>
                      <div class="card-info">
                        <div class="top py-1">
                          <div class="info">
                            <p class="px-3 tag">
                            </p>
                          </div>
                        </div>

                        <div>
                          <h2 class="info title"> <%= talent.name%> </h2>
                          <p class="info justify-content-center"><%= talent.category.upcase %></p>
                        </div>

                        <div class="bottom">
                          <div class="info justify-content-center">
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                <% end %>

              <% end %>
            </div>
          </div>

          <div class="tab-pane fade" id="pills-green" role="tabpanel" aria-labelledby="pills-green-tab">
            <div class="img-wrapper">

              <% @talents.where(category: 'green').each do |talent| %>

                <%= link_to talent_path(talent), target:"_blank" do %>
                  <div class="campaign-card">
                    <div class="background" style="background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url('<%= talent.photos.attached? ? cl_image_path(talent.photos.first.key) : "https://source.unsplash.com/1600x900/?model" %>'); background-position: center; background-size: cover">
                      <% if talent.category == "green" %>
                        <i class="fa-solid fa-seedling m-3" style="position: absolute;right: 0; padding: 10px; font-size: 20px; border: 1px solid black; border-radius: 50px;"></i>
                      <% end %>
                      <div class="card-info">
                        <div class="top py-1">
                          <div class="info">
                            <p class="px-3 tag">
                            </p>
                          </div>
                        </div>

                        <div>
                          <h2 class="info title"> <%= talent.name%> </h2>
                          <p class="info justify-content-center"><%= talent.category.upcase %></p>
                        </div>

                        <div class="bottom">
                          <div class="info justify-content-center">
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                <% end %>

              <% end %>
            </div>
          </div>

          <div class="tab-pane fade" id="pills-lifestyle" role="tabpanel" aria-labelledby="pills-lifestyle-tab">
            <div class="img-wrapper">
              <% @talents.where(category: 'lifestyle').each do |talent|%>

                <%= link_to talent_path(talent), target:"_blank" do %>
                  <div class="campaign-card">
                    <div class="background" style="background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url('<%= talent.photos.attached? ? cl_image_path(talent.photos.first.key) : "https://source.unsplash.com/1600x900/?model" %>'); background-position: center; background-size: cover">
                      <% if talent.category == "green" %>
                        <i class="fa-solid fa-seedling m-3" style="position: absolute;right: 0; padding: 10px; font-size: 20px; border: 1px solid black; border-radius: 50px;"></i>
                      <% end %>
                      <div class="card-info">
                        <div class="top py-1">
                          <div class="info">
                            <p class="px-3 tag">
                            </p>
                          </div>
                        </div>

                        <div>
                          <h2 class="info title"> <%= talent.name%> </h2>
                          <p class="info justify-content-center"><%= talent.category.upcase %></p>
                        </div>

                        <div class="bottom">
                          <div class="info justify-content-center">
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                <% end %>

              <% end %>
            </div>
          </div>

          <div class="tab-pane fade" id="pills-fashion" role="tabpanel" aria-labelledby="pills-fashion-tab">
            <div class="img-wrapper">

              <% @talents.where(category: 'fashion').each do |talent|%>

                <%= link_to talent_path(talent), target:"_blank" do %>
                  <div class="campaign-card">
                    <div class="background" style="background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url('<%= talent.photos.attached? ? cl_image_path(talent.photos.first.key) : "https://source.unsplash.com/1600x900/?model" %>'); background-position: center; background-size: cover">
                      <% if talent.category == "green" %>
                        <i class="fa-solid fa-seedling m-3" style="position: absolute;right: 0; padding: 10px; font-size: 20px; border: 1px solid black; border-radius: 50px;"></i>
                      <% end %>
                      <div class="card-info">
                        <div class="top py-1">
                          <div class="info">
                            <p class="px-3 tag">
                            </p>
                          </div>
                        </div>

                        <div>
                          <h2 class="info title"> <%= talent.name%> </h2>
                          <p class="info justify-content-center"><%= talent.category.upcase %></p>
                        </div>

                        <div class="bottom">
                          <div class="info justify-content-center">
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                <% end %>

              <% end %>
            </div>
          </div>
        </div>
      </div>
    </section>

   </div>
 </div>
