
<div class="container d-flex">
  <div class="col-md-4">
    <%# @talent.photos.each do |photo| %>
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%#= @talent.photos.attached? ? cl_image_path(@talent.photos.first.key) : asset_path('background.jpeg') %>)" >
        <div style="width: 400px; heigth: 600px">
          <%= video_tag(@talent.video, style:'width:100%;height:auto', controls: '', autoplay: :autoplay, muted: :muted) %>
        </div>
      </div>
		<%# end %>
  </div>
  <div class="col-md-8">
    <h1> <%= @talent.name %></h1>
    <h3><strong><%= @talent.title %></strong></h3>
    <h4><%= @talent.insta_link %></h4>
    <h4><%= @talent.youtube_link %></h4>
    <h4><%= @talent.tiktok_link %></h4>
  </div>
  <%#= cl_upload_tag(@talent.video.key) %>
  <div style="width: 400px; heigth: 900px">
    <%= video_tag(url_for(@talent.video), style:'width:100%') %>
  </div>

</div>
<div class="col md-6">
  <div class="btn-group" style="display: flex;justify-content: space-evenly">
    <% if user_signed_in? %>
    <div>
      <%= link_to "Edit", edit_talent_path%>
    </div>
    <div>
      <%= link_to "Delete", talent_path, method: :delete, data: { confirm: "Are you sure?"}%>
    </div>
    <div>
      <%= link_to "Back", talents_path %>
    </div>
    <% end %>
  </div>
</div>
