<div class="scroll">
  <div class="smooth">
    <section class="talent" id="talent">
      <% if @talent.photos.last != nil %>
        <%= cl_image_tag @talent.photos.last.key, alt: "alttext" %>
      <% else %>
        <%= video_tag "random_video.mp4", autoplay: true, muted: true, loop: true, controls: false %>
        <p class="note" style="transform: translate(-50%, -50%); position: absolute; text-align: center; top: 50%; left: 25%; width: 20%;"> <%= @talent.about %> </p>
        <%#= image_tag "https://source.unsplash.com/1600x900/?model", alt: "alttext" %>
      <% end %>
      <div class="content">
        <div class="text-content">
          <%= link_to "Back", talents_path %>
          <div class="d-flex justify-content-between align-items-center">
            <h2><%= @talent.name.upcase%></h2>
            <p> <%= @talent.category %> </p>
          </div>
          <div class="d-flex justify-content-center align-items-center">
            <div class="rounded-shape">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 622 575.48"><defs><style>.cls-1{fill:none;stroke:#000;stroke-miterlimit:10;stroke-width:2px;}</style></defs><g id="Calque_2" data-name="Calque 2"><g id="Calque_1-2" data-name="Calque 1"><path class="cls-1" d="M153.1,280.29C66.14,368.8-19.35,455.82,5.31,512.89c33,76.41,259.65,90.44,410.3-8,196.83-128.56,248.33-438.83,171-494.1C489.48-58.65,170.88,262.19,153.1,280.29Z"/></g></g></svg>
<!--               <div class="social-links">
                <a href="#" style="position: absolute; top: 50px; left: 330px;">
                  <div class="d-flex" style="width: 200px;">
                    <i class="fab fa-youtube"></i>
                    <p style="margin-left: 10px; margin-bottom: 0px;"><%= number_to_human(@talent.subscriber_count_youtube, presicion: 2, seprarator: ',', siginficant: false) %> abonnés</p>
                  </div>
                </a>

                <a href="#" style="position: absolute; top: -50px; left: 240px;">
                  <div class="d-flex" style="width: 200px;">
                    <i class="fab fa-instagram"></i>
                    <p style="margin-left: 10px; margin-bottom: 0px;"><%= number_to_human(@talent.insta_link, presicion: 2, seprarator: ',', siginficant: false) %></p>
                  </div>
                </a>

                <a href="#" style="position: absolute; top: 200px; left: 280px;">
                  <div class="d-flex" style="width: 200px;">
                    <i class="fab fa-tiktok"></i>
                    <p style="margin-left: 10px; margin-bottom: 0px;"><%= number_to_human(@talent.tiktok_link, presicion: 2, seprarator: ',', siginficant: false) %></p>
                  </div>
                </a>

                <a href="#" style="position: absolute; top: 300px; left: -70px;">
                  <div class="d-flex" style="width: 200px;">
                    <i class="fas fa-chart-pie"></i>
                    <p style="margin-left: 10px; margin-bottom: 0px;">Statistiques</p>
                  </div>
                </a>
                
                <a href="#" style="position: absolute; top: 200px; left: -120px;">
                  <div class="d-flex" style="width: 200px;">
                    <i class="fas fa-download"></i>
                    <p style="margin-left: 10px; margin-bottom: 0px;">Media kit</p>
                  </div>
                </a>            
              </div> -->
            </div>
            <div class="talent-standing">
              <%= image_tag "test.png", alt: "alttext", class: "png-img", id: "png-mouseout" %>
              <%= image_tag "test2.png", alt: "alttext", class: "png-img", id: "png-mousein" %>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>






















<!--   <div class="container d-flex justify-content-space-between align-items-center " style="width: 100vw;margin: 50px auto; padding:10px" >
      <%# @talent.photos.each do |photo| %>
      <div class="content" style="margin-top:10px">
        <div class="text-content">
          <a><%#= link_to "Back", talents_path %></a>
            <%# if user_signed_in? %>
              <a><%#= link_to "Edit", edit_campaign_path %></a>
            <%# end %>
        </div>
      </div>
          <div style="width: 500px; heigth: auto">
            <%# if @talent.video.attached? %>
              <%#= video_tag(url_for(@talent.video), style:'width:100%;height:auto;margin-left:-50px;margin-right:150px', controls: '', muted: :muted) %>
            <%# end %>
          </div>
      <%# end %>

    <%#= cl_upload_tag(@talent.video.key) %>
    <div class="stat" style="position: relative; margin-left: 195px;width: 400px">
      <div class="talent-name" style="position: absolute;top:-20px;left:-140px">
        <span style="font-weight: bold; font-family: Sketchalot"><%#= @talent.name %></span><br>
        <span style="font-weigth: 200; font-style: italic;colro:balck"><%= @talent.title %></span>
      </div>
      <%# if @talent.photos.attached? %>
        <%#= cl_image_tag @talent.photos.last.key, style:'width:400px;height:auto' %>
      <%# end %>
      <a href="#", target="_blank">
        <div class="youtube d-flex" style="width: 150px; height: 50px; position: absolute;top: 40px; right: -59px;">
          <span><i class="fab fa-youtube"></i></span>
          <p style="color:balck;margin-left:10px"><%#= number_to_human(@talent.subscriber_count_youtube, presicion: 2, seprarator: ',', siginficant: false) %> abonnés</p>
        </div>
      </a>

      <a href="#", target="_blank">
        <div class="insta d-flex" style="width: 150px; height: 50px; position: absolute;top: 238px; right: -140px;">
          <span><i class="fab fa-instagram"></i></span>
          <p style="color:balck;margin-left:10px"><%#= number_to_human(@talent.insta_link, presicion: 2, seprarator: ',', siginficant: false) %> abonnés</p>
        </div>
      </a>

      <a href="#", target="_blank">
        <div class="tiktok d-flex" style="width: 150px; height: 50px; position: absolute;top: 420px; right: -79px;">
          <span><i class="fab fa-tiktok"></i></span>
          <p style="color:balck;margin-left:10px"><%#= number_to_human(@talent.tiktok_link, presicion: 2, seprarator: ',', siginficant: false) %> abonnés</p>
        </div>
      </a>

      <a href="#", target="_blank">
        <div class="statistic d-flex" style="width: 150px; height: 50px; position: absolute;top: 40px; left: 0;">
          <span><i class="fas fa-chart-pie"></i></span>
          <p style="color:balck;margin-left:10px">Statistiques</p>
        </div>
      </a>

      <a href="#", target="_blank">
        <div class="media d-flex" style="width: 150px; height: 50px; position: absolute;top: 238px; left: -100px;">
          <span><i class="fas fa-download"></i></span>
          <p style="color:balck;margin-left:10px">Media kit</p>
        </div>
      </a>
      Button trigger modal -->
<!--         <div class="about d-flex" data-toggle="modal" data-target="#exampleModalLong" style="width: 150px; height: 50px; position: absolute;top: 420px; left: -13px;">
          <span><i class="fas fa-user"></i></span>
          <p style="color:balck;margin-left:10px">A propos</p>
        </div>
    </div>
  </div>

Modal -->
<!-- <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle"><%#= @talent.name%></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <%= @talent.about %>
        <%# if @talent.photos.attached? %>
          <%#= cl_image_tag @talent.photos.second.key, style:'width:300px;height:auto' %>
        <%# end %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div> --> 
    <%# <div class="talents-tab">
      <ul class="nav nav-pills mb-1 d-flex justify-content-around" id="pills-tab" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" id="pills-all-tab" data-toggle="pill" href="#pills-all" role="tab" aria-controls="pills-all" aria-selected="true">x</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="pills-about-tab" data-toggle="pill" href="#pills-about" role="tab" aria-controls="pills-about" aria-selected="false">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="pills-fashion-tab" data-toggle="pill" href="#pills-fashion" role="tab" aria-controls="pills-fashion" aria-selected="false">Media kit</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="pills-urban-tab" data-toggle="pill" href="#pills-urban" role="tab" aria-controls="pills-urban" aria-selected="false">Statistiques</a>
        </li>
      </ul>
    </div>
  <div class="tab-content" id="pills-tabContent">
    <div class="tab-pane fade show active" id="pills-all" role="tabpanel" aria-labelledby="pills-all-tab" data-controller="all">
    </div>

    <div class="tab-pane fade" id="pills-urban" role="tabpanel" aria-labelledby="pills-urban-tab">
      <div class="pole-description">
        <span>POLE URBAN</span>
        <p> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nobis quasi nostrum temporibus. Odit laborum quibusdam illum labore dicta asperiores magni quisquam fugit, nobis deserunt praesentium! Natus neque facilis illum aut eos quasi incidunt quam. Ab, doloremque ratione suscipit maiores asperiores similique, nostrum architecto sequi, adipisci sunt numquam dolore rerum vitae!</p>
      </div>
    </div>
    <div class="tab-pane fade" id="pills-about" role="tabpanel" aria-labelledby="pills-about-tab">
      <div class="pole-description">
        <span>About</span>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nobis quasi nostrum temporibus. Odit laborum quibusdam illum labore dicta asperiores magni quisquam fugit, nobis deserunt praesentium! Natus neque facilis illum aut eos quasi incidunt quam. Ab, doloremque ratione suscipit maiores asperiores similique, nostrum architecto sequi, adipisci sunt numquam dolore rerum vitae!</p>
      </div>
    </div>
    <div class="tab-pane fade" id="pills-fashion" role="tabpanel" aria-labelledby="pills-fashion-tab">
      <div class="pole-description">
        <span>POLE FASHION</span>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nobis quasi nostrum temporibus. Odit laborum quibusdam illum labore dicta asperiores magni quisquam fugit, nobis deserunt praesentium! Natus neque facilis illum aut eos quasi incidunt quam. Ab, doloremque ratione suscipit maiores asperiores similique, nostrum architecto sequi, adipisci sunt numquam dolore rerum vitae!</p>
      </div>
    </div>
  </div> %>
<%# <div class="container">
  <div class="grid-talent">
    <div class="grid-talent-card video-talent">

      <%#= video_tag(url_for(@talent.video), style:'width:100%;height:100%', controls: '', autoplay: :autoplay, muted: :muted) %>
    <%# </div>
    <div class="grid-talent-card stats"> %>
      <%#= cl_image_tag @talent.photos.last.key, style:'width:100%;height:auto' %>
    <%# </div>
    <div class="grid-talent-card description">
    </div>
  </div>
</div> %>
