
<div class="container d-flex justify-content-space-between align-items-center" style="width: 100vw;margin-bottom: 50px;" >
    <%# @talent.photos.each do |photo| %>
        <div style="width: 500px; heigth: auto">
          <%= video_tag(url_for(@talent.video), style:'width:100%;height:auto;margin-left:-50px;margin-right:150px', controls: '', autoplay: :autoplay, muted: :muted) %>
        </div>
		<%# end %>

  <%#= cl_upload_tag(@talent.video.key) %>
  <div class="stat" style="position: relative; margin-left: 195px;width: 400px">
    <div class="talent-name" style="position: absolute;top:-20px;left:-140px">
      <span style="font-weight: bold; font-family: Sketchalot"><%= @talent.name %></span><br>
      <span style="font-weigth: 200; font-style: italic;colro:white"><%= @talent.title %></span>
    </div>
    <%= cl_image_tag @talent.photos.last.key, style:'width:400px;height:auto' %>
    <div class="youtube d-flex" style="width: 150px; height: 50px; position: absolute;top: 40px; right: -59px;">
      <a href="#", target="_blank">
        <span><i class="fab fa-youtube-square"></i></span>
        <p style="color:white"><%= @talent.youtube_link %> abonnés</p>
      </a>
    </div>

    <div class="insta d-flex" style="width: 150px; height: 50px; position: absolute;top: 238px; right: -140px;">
      <a href="#", target="_blank">
        <span><i class="fab fa-instagram"></i></span>
        <p style="color:white"><%= @talent.insta_link %> abonnés</p>
      </a>
    </div>

    <div class="tiktok d-flex" style="width: 150px; height: 50px; position: absolute;top: 420px; right: -79px;">
      <a href="#", target="_blank">
        <span><i class="fab fa-tiktok"></i></span>
        <p style="color:white"><%= @talent.tiktok_link %> abonnés</p>
      </a>
    </div>
    <div class="talent-about d-flex justify-content-space-evenly align-items-center" style="position:absolute;left:25px">
        <div>
          About
        </div>
        <div>
          Media kit
        </div>
        <div>
          Statistic
        </div>
    </div>
  </div>
  </div>
<div class="col md-6">
  <div class="btn-group" style="display: flex;justify-content: flex-start">
    <% if user_signed_in? %>
    <div>
      <%= link_to edit_talent_path do %>
        <%= image_tag 'pencil-front-premium.png', width: 30 %>
      <% end %>
    </div>
    <div>
      <%= link_to talent_path, method: :delete, data: { confirm: "Are you sure?"} do %>
        <%= image_tag 'trash-can-front-premium.png', width: 30 %>
      <% end %>
    </div>
    <div>
      <%= link_to talents_path do %>
        <%= image_tag 'back-front-premium.png', width: 30 %>
      <% end %>
    </div>
    <% end %>
  </div>
</div>
<%# <div class="container">
  <div class="grid-talent">
    <div class="grid-talent-card video-talent">
      <span><%= @talent.name %></span>
      <span><%#= @talent.title %> </span>
      <%#= video_tag(url_for(@talent.video), style:'width:100%;height:100%', controls: '', autoplay: :autoplay, muted: :muted) %>
    <%# </div>
    <div class="grid-talent-card stats"> %>
      <%#= cl_image_tag @talent.photos.last.key, style:'width:100%;height:auto' %>
    <%# </div>
    <div class="grid-talent-card description">
    </div>
  </div>
</div> %>
