
<div class="row">
  <div class="col-md-4">
    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= @talent.photos.attached? ? cl_image_path(@talent.photos.first.key) : asset_path('background.jpeg') %>)">
    </div>
  </div>
  <div class="col-md-8">
    <div class="talent-stat">
      <h2 class="talent-name"><%= @talent.name %></h2>
      <h3 class="talent-title"><span><%= @talent.title %></span></h3>
      <h4 class="talent-insta"><%= @talent.insta_link %></h4>
      <h4 class="talent-youtube"><%= @talent.youtube_link %></h4>
      <h4 class="talent-tiktok"><%= @talent.tiktok_link %></h4>
    </div>
  </div>
</div>
<div class="links btn-group">
  <%# if user_signed_in? %>
    <%= link_to "Edit", edit_talent_path, class: "btn btn-info" %>
    <%= link_to "Delete", talent_path, method: :delete, data: { confirm: "Are you sure?"}, class: "btn btn-danger" %>
    <%= link_to "Back", talents_path, class: "btn btn-primary" %>
</div>
