<div class="scroll">
  <div class="smooth">
    <section class="talent" id="talent">

      <% if @talent.video.attached? %>
        <%= video_tag (url_for(@talent.video)), autoplay: true, muted: true, loop: true, controls: false %>
      <% elsif %>
          <%= video_tag "https://res.cloudinary.com/dc71zwpev/video/upload/v1650998684/clip_p3yp9k.mp4", autoplay: true, muted: true, loop: true, controls: false %>
      <% end %>

      <div class="content">

        <div class="text-content">

          <%= link_to t('talents.show.links.index'), :back %>
          <% if user_signed_in? %>
            <%= link_to t('talents.show.links.edit'), edit_talent_path %>
          <% end %>
          <% if user_signed_in? %>
            <%= link_to "Supprimer", destroy_path(@talent), method: :delete, data: { confirm: "Are you sure?" }%>
          <% end %>

          <div class="d-flex justify-content-between align-items-center">
            <h2><%= @talent.name.upcase%></h2>
              <% if  @talent.category == "green" %>
                <p> <%= @talent.category.upcase %>
                  <i class="fa-solid fa-seedling ml-1"></i>
                </p>
              <% elsif @talent.category == "fashion" %>
                <p> <%= @talent.category.upcase %> </p>
              <% elsif @talent.category == "urban" %>
                <p> <%= @talent.category.upcase %> </p>
              <% else %>
                <p> <%= @talent.category.upcase %> </p>
              <% end %>
          </div>

          <p><%= @talent.about %></p>

          <div class="d-flex justify-content-center align-items-center">
            <div class="rounded-shape">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 622 575.48">
                <defs><style>.cls-1{fill:none;stroke:#000;stroke-miterlimit:10;stroke-width:2px;}</style></defs><g id="Calque_2" data-name="Calque 2"><g id="Calque_1-2" data-name="Calque 1"><path class="cls-1" d="M153.1,280.29C66.14,368.8-19.35,455.82,5.31,512.89c33,76.41,259.65,90.44,410.3-8,196.83-128.56,248.33-438.83,171-494.1C489.48-58.65,170.88,262.19,153.1,280.29Z"/></g></g>
              </svg>
            </div>

            <div class="talent-standing">

              <% if @talent.photos.attached? %>
                <%= cl_image_tag @talent.photos.last.key, alt: "Talent image", class: "png-img", id: "png-mouseout" %>
                <%= cl_image_tag @talent.photos.second.key, alt: "Talent image", class: "png-img", id: "png-mousein" %>
              <% else %>
                <%= image_tag 'silhouette3.png', alt:"", class: "png-img" %>
              <% end %>

              <div class="social-links">
                <% if @talent.youtube_link == "0" || @talent.youtube_link == "" %>
                <% else %>
                  <a href="<%= @talent.link_youtube %>" target="_blank" style="position: absolute; top: 50px; left: 330px; z-index: 1000;">
                    <div class="d-flex" style="width: 200px;">
                      <i class="fab fa-youtube"></i>
                      <p style="margin-left: 10px; margin-bottom: 0px;"><%= number_to_human(@talent.youtube_link, presicion: 2, seprarator: ',', siginficant: false) %> <%= t('talents.show.social') %></p>
                    </div>
                  </a>
                <% end %>
                <% if @talent.insta_link == "0" || @talent.insta_link == ""  %>
                <% else %>
                    <a href="<%= @talent.link_insta %>" target="_blank"  style="position: absolute; top: 139px; right: -163px; z-index: 1000;">
                    <div class="d-flex" style="width: 200px;">
                      <i class="fab fa-instagram"></i>
                      <p style="margin-left: 10px; margin-bottom: 0px;"><%= number_to_human(@talent.insta_link, presicion: 2, seprarator: ',', siginficant: false) %> <%= t('talents.show.social') %></p>
                    </div>
                  </a>
                <% end %>
                <% if @talent.tiktok_link == "0" || @talent.tiktok_link == "" %>
                <% else %>
                 <a href="<%= @talent.link_tiktok %>" target="_blank"  style="position: absolute; top: 294px; left: 326px; z-index: 1000;">
                    <div class="d-flex" style="width: 200px;">
                      <i class="fab fa-tiktok"></i>
                      <p style="margin-left: 10px; margin-bottom: 0px;"><%= number_to_human(@talent.tiktok_link, presicion: 2, seprarator: ',', siginficant: false) %> <%= t('talents.show.social') %></p>
                    </div>
                  </a>
                <% end %>

                <a href="<%= @talent.media.attached? ? rails_blob_path(@talent.media, disposition: 'attachment') : @talent_path %>" target="_blank" style="position: absolute; top: 180px; left: -2px;">
                  <div class="d-flex" style="width: 200px;">
                    <i class="fas fa-download"></i>
                    <p style="margin-left: 10px; margin-bottom: 0px;"><%= t('talents.show.media') %></p>
                  </div>
                </a>

                <%# <a style="position: absolute; top: 270px; left: -40px;">
                  <div class="d-flex" style="width: 200px;">
                    <i class="fas fa-download"></i>
                    <p style="margin-left: 10px; margin-bottom: 0px;"><%= t('talents.show.media') %>
                  <%# </div>
                </a> %>
              </div>
            </div>
          </div>

        </div>

      </div>

    </section>
  </div>
</div>
