
<div class="container d-flex" style="margin-bottom: 250px;" >
  <div class="col-md-4">
    <%# @talent.photos.each do |photo| %>
      <div class="card-category" >
        <div style="width: 100vw; heigth: 100vh">
          <%= video_tag(url_for(@talent.video), style:'width:100%;height:auto', controls: '', autoplay: :autoplay, muted: :muted) %>
        </div>
      </div>
		<%# end %>
  </div>
  <div class="col-md-8">
    <div class="talent-image" style="width: 400px; heigth: 400px; background: radial-gradient(circle, red 15%, transparent 61%); position: absolute;top:2vh;left:23vw">
      <%= cl_image_tag @talent.photos.last.key, style:'width:100%;height:auto' %>
    </div>

  </div>
  <%#= cl_upload_tag(@talent.video.key) %>
  <div class="youtube d-flex" style="width: 150px; height: 50px; position: absolute;top: 25vh; right: 5vw;">
    <span><i class="fab fa-youtube-square red-color"></i></span>
    <p><%= @talent.youtube_link %> abonnés</p>
  </div>

  <div class="insta d-flex" style="width: 150px; height: 50px; position: absolute;top: 40vh; right: 1vw;">
    <span><i class="fab fa-instagram"></i></span>
    <p><%= @talent.insta_link %> abonnés</p>
  </div>

  <div class="tiktok d-flex" style="width: 150px; height: 50px; position: absolute;top: 53vh; right: 2vw;">
    <span><i class="fab fa-tiktok"></i></span>
    <p><%= @talent.tiktok_link %> abonnés</p>
  </div>

</div>
<div class="col md-6">
  <div class="btn-group" style="display: flex;justify-content: space-evenly">
    <% if user_signed_in? %>
    <div>
      <%= link_to "Edit", edit_talent_path%>
    </div>
    <div>
      <%= link_to "Delete", talent_path, method: :delete, data: { confirm: "Are you sure?"}%>
    </div>
    <div>
      <%= link_to "Back", talents_path %>
    </div>
    <% end %>
  </div>
</div>
<%# <div class="container">
  <div class="grid-talent">
    <div class="grid-talent-card video-talent">
      <span><%= @talent.name %></span>
      <span><%#= @talent.title %> </span>
      <%#= video_tag(url_for(@talent.video), style:'width:100%;height:100%', controls: '', autoplay: :autoplay, muted: :muted) %>
    <%# </div>
    <div class="grid-talent-card stats"> %>
      <%#= cl_image_tag @talent.photos.last.key, style:'width:100%;height:auto' %>
    <%# </div>
    <div class="grid-talent-card description">
    </div>
  </div>
</div> %>
