
        <!-- Sidebar  -->
        <nav id="sidebar">
            <div id="dismiss">
                <i class="fas fa-arrow-left"></i>
            </div>

            <div class="sidebar-header">
                <h3>ADCREW</h3>
            </div>

            <ul class="list-unstyled components">
                <p>INFLUENCE & MARKETING 360</p>
                <li class="active">
                    <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false"> <%= link_to "ADCREW", root_path %></a>
                    <%# <ul class="collapse list-unstyled" id="homeSubmenu">
                        <li>
                            <a href="#">ADCrew</a>
                        </li>
                        <li>
                            <a href="#">CAMPAIGNS</a>
                        </li>
                        <li>
                            <a href="#">TEAM</a>
                        </li>
                    </ul> %>
                </li>
                <li>
                    <a href="#"><%= link_to "Campagnes", campaigns_path %></a>
                    <%# <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false">Team</a> %>
                    <%# <ul class="collapse list-unstyled" id="pageSubmenu">
                        <li>
                            <a href="#">Page 1</a>
                        </li>
                        <li>
                            <a href="#">Page 2</a>
                        </li>
                        <li>
                            <a href="#">Page 3</a>
                        </li>
                    </ul> %>
                </li>
                <li>
                    <a href="#"> <%= link_to "Team", team_path  %></a>
                </li>
                <li>
                    <a href="#"> <%= link_to "Talents", talents_path  %></a>
                </li>
                <li>
                    <a href="#"> <%= link_to "Prod", prod_path  %></a>
                </li>
                <li>
                    <a href="#"> <%= link_to "Contact", contact_path %> </a>
                </li>
            </ul>

            <%# <ul class="list-unstyled CTAs">
                <li>
                    <a href="https://bootstrapious.com/tutorial/files/sidebar.zip" class="download">Download source</a>
                </li>
                <li>
                    <a href="https://bootstrapious.com/p/bootstrap-sidebar" class="article">Back to article</a>
                </li>
            </ul> %>
        </nav>
         <!-- Page Content  -->
        <div id="content">

            <nav class="navbar fixed-top navbar-expand-lg navbar-light">
                <div class="container-fluid">
                    <h1>ADCREW</h1>
                    <button type="button" id="sidebarCollapse" class="btn btn-crew">
                        <i class="fas fa-align-right"></i>
                        <span></span>
                    </button>
                    <%# <button class="btn btn-light d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <i class="fas fa-align-justify"></i>
                    </button> %>

                     <%# <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="nav navbar-nav ml-auto">
                            <li class="nav-item active">
                                <a class="nav-link" href="#">Page</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Page</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Page</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Page</a>
                            </li>
                        </ul>
                    </div> %>
                </div>
            </nav>
        </div>
    </div>

    <div class="overlay"></div>
