<div id="wrapper-side">
  <div class="overlay"></div>

  <!-- Sidebar -->
  <nav class="navbar navbar-inverse navbar-fixed-top" id="sidebar-wrapper" role="navigation">
    <ul class="nav sidebar-nav">
      <li class="sidebar-brand">
        <a href="#">
          ADCREW
        </a>
      </li>
      <li>
        <%= link_to "ADCREW", root_path %></a>
      </li>
      <li>
        <a href="#"><%= link_to "Campagnes", campaigns_path %></a>
      </li>
      <li>
        <a href="#"><%= link_to "Team", team_path %></a>
      </li>
      <li>
        <a href="#"> <%= link_to "Talents", talents_path  %></a>
      </li>
      <li>
        <a href="#"> <%= link_to "Prod", prod_path  %></a>
      </li>
      <li>
        <a href="#"> <%= link_to "Contact", contact_path %> </a>
      </li>
      <li>
        <a href="#">Follow us</a>
      </li>
    </ul>
  </nav>
  <!-- /#sidebar-wrapper -->

  <!-- Page Content -->
  <div id="page-content-wrapper">
    <button type="button" class="hamburger is-closed" data-toggle="offcanvas">
      <span class="hamb-top"></span>
      <span class="hamb-middle"></span>
      <span class="hamb-bottom"></span>
    </button>
    <div class="container">
    </div>
  </div>
  <!-- /#page-content-wrapper -->
</div>
<!-- /#wrapper -->
