<div id="mySidebar" class="sidebar">
  <div class="sidebar-header">
    <h3>ADCREW</h3>
  </div>
  <p>INFLUENCE & STRATEGY 360</p>
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
  <a href="#"> <%= link_to "ADCREW", root_path %></a>
  <a href="#"><%= link_to "Campagnes", campaigns_path %></a>
  <a href="#"><%= link_to "Team", team_path %></a>
  <a href="#"> <%= link_to "Talents", talents_path  %></a>
  <a href="#"> <%= link_to "Prod", prod_path  %></a>
  <a href="#"> <%= link_to "Contact", contact_path %> </a>
</div>

<div id="main-sidebar">
  <button class="openbtn" onclick="openNav()">&#x268C;</button>
</div>
