<div id="mySidebar" class="sidebar">
  <div class="sidebar-header">
    <h3>ADCREW</h3>
    <p>INFLUENCE & STRATEGY 360</p>
  </div>
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
  <a href="#"> <%= link_to "ADCREW", root_path %></a>
  <a href="#"><%= link_to "Campagnes", campaigns_path %></a>
  <a href="#"><%= link_to "Team", team_path %></a>
  <a href="#"> <%= link_to "Talents", talents_path  %></a>
  <a href="#"> <%= link_to "Prod", prod_path  %></a>
  <a href="#"> <%= link_to "Contact", contact_path %> </a>
</div>

<div id="main-sidebar">
  <div class="logo">
    <%= link_to root_path do %>
      <%= image_tag 'logo.png', alt:"ADCREW Agency", width: 100 %>
    <% end %>
  </div>
  <button class="openbtn" style="background: transparent" onclick="openNav()">&#x268C;</button>
</div>
