
  <div class="main-sidebar navbar fixed-top <%#= yield(:navbar_class) %>">
    <div class="logo">
      <%= link_to root_path do %>
        <h1 class="logo">AD<span>CREW</span></h1>
      <% end %>
    </div>
    <a class="openbtn">&#x268C;</a>
  </div>

  <div id="mySidebar" class="sidebar">
    <div class="main-sidebar navbar fixed-top">
      <div class="logo">
        <%= link_to root_path do %>
          <h1 class="logo">AD<span>CREW</span></h1>
        <% end %>
      </div>
      <a class="closebtn">&times;</a>
    </div>

    <ul class="side-links">
      <li> <%= link_to t('sidebar.links.campaigns'), campaigns_path %></li>
      <li> <%= link_to t('sidebar.links.talents'), talents_path %></li>
      <li> <%= link_to t('sidebar.links.crew'), team_path %></li>
      <li> <%= link_to t('sidebar.links.contact'), contact_path %></li>
      <a> <%= link_to 'fr |', root_path(locale: :fr) %> <%= link_to 'en', root_path(locale: :en) %> </a>
    </ul>
  </div>
