
  <div class="main-sidebar navbar fixed-top <%#= yield(:navbar_class) %>">
    <div class="logo">
      <%= link_to root_path do %>
        <h1 class="logo">AD<span>CREW</span></h1>
      <% end %>
    </div>
    <a class="openbtn">&#x268C;</a>
  </div>

  <div id="mySidebar" class="sidebar">
    <div class="main-sidebar navbar fixed-top">
      <div class="logo">
        <%= link_to root_path do %>
          <h1 class="logo">AD<span>CREW</span></h1>
        <% end %>
      </div>
      <a class="closebtn">&times;</a>
    </div> 

    <ul class="side-links">
      <li> <%= link_to "Prod", prod_path %></li>
      <li> <%= link_to "Talents", talents_path %></li>
      <li> <%= link_to "Campagnes", campaigns_path %></li>
      <li> <%= link_to "Team", team_path %></li>
      <li> <%= link_to "Contact", contact_path %></li>
    </ul>
  </div>