
  <div class="main-sidebar navbar fixed-top <%#= yield(:navbar_class) %>">
    <div></div>
    <div class="logo">
      <%= link_to root_path do %>
        <%= image_tag "logo_prop1.png", alt: "alttext", width: "140"%>
        <!-- <h1 class="logo">AD<span>CREW</span></h1> -->
      <% end %>
    </div>
    <a class="openbtn">&#x268C;</a>
  </div>

  <div id="mySidebar" class="sidebar">
    <div class="main-sidebar navbar fixed-top">
      <div></div>
      <div class="logo">
        <%= link_to root_path do %>
          <h1 class="logo">AD<span>CREW</span></h1>
        <% end %>
      </div>
      <a class="closebtn">&times;</a>
    </div>

    <ul class="side-links">
      <li> <%= link_to t('sidebar.links.campaigns'), campaigns_path %></li>
      <li> <%= link_to t('sidebar.links.talents'), talents_path %></li>
      <li> <%= link_to t('sidebar.links.crew'), team_path %></li>
      <li> <%= link_to t('sidebar.links.contact'), new_contact_path %></li>
      <li><%= link_to 'fr', { :locale=>'fr' } %> <span style="color: white"> | </span> <%= link_to 'en', { :locale=>'en' } %></li>
      <li><a class="instagram" href="https://www.instagram.com/adcrew_agency/" target="_blank"><i class="fab fa-instagram"></i></a>&nbsp;&nbsp;&nbsp; <a class="linkedin" href="https://www.linkedin.com/company/adcrew-paris/" target="_blank"><i class="fab fa-linkedin"></i></a></li>
    </ul>
  </div>
