<section class="contact" id="talent">
  <div class="content">
    <div class="text-content">
      <h2><%= t('contact.title') %></h2>
      <p class="pt-3">
        <%= t('contact.paragraphe') %>
      </p>
      <div class="pt-3 moto">
        <p><span class="moto-title mb-3"></span><span class="moto-content pl-3"></span></p>
      </div>
    </div>
  </div>
  <div class="content">
      <div class="column">
        <%= simple_form_for @contact do |f| %>
          <div class="pt-3">
            <%#= invisible_captcha %>
            <%= f.label t('contact.form.name') %><br>
            <%= f.text_field  :name, required: true, class: "contact-form-text-area", placeholder: t('contact.form.placeholder') %>
            <%= f.label t('contact.form.entreprise') %>
            <%= f.text_field  :entreprise, required: true, class: "contact-form-text-area", placeholder: t('contact.form.placeholder1') %>
            <%= f.label t('contact.form.email') %>
            <%= f.text_field :email, required: true, class: "contact-form-text-area", placeholder: t('contact.form.placeholder2') %>
            <%=  f.label t('contact.form.category') %>
            <%= f.text_field :category, required: true, class: "contact-form-text-area", placeholder: t('contact.form.placeholder3') %>
            <%#= f.label t('contact.form.category') %>
            <%# <select name="category" id="category">
              <option value="" label=" "></option>
              <option value="1">Green</option>
              <option value="2" selected="selected">Fashion</option>
              <option value="3">Lifestyle (urban - make up)</option>
            </select> %>
            <%= f.label t('contact.form.sujet') %><br>
            <%= f.text_area :message, rows: 8, cols: 40, required: true, class: "contact-form-text-area",
              placeholder: t('contact.form.placeholder4')%><br>

            <div class= "d-none">
              <%#= f.label :nickname %>
              <%#= f.text_field :nickname, :hint => 'Leave this field blank!' %>
            </div>

            <%= f.submit t('contact.form.submit'), class: 'btn-neumorphism', style: 'background-color:transparent; color:red' %>
          </div>
        <% end %>

        <%# <select name="post[person_id]" id="post_person_id">
          <option value="" label=" "></option>
          <option value="1">David</option>
          <option value="2" selected="selected">Eileen</option>
          <option value="3">Rafael</option>
        </select> %>

          <%# <label for="fname"><%= t('contact.form.name') %></label>
          <%# <input type="text" id="fname" name="firstname" placeholder="Your name.."> %>
          <%# <input type="text" id="fname" name="firstname" placeholder= <%#= t('contact.form.placeholder') %>
          <%# <label for="lname"><%#= t('contact.form.last_name') %></label>
          <%# <input type="text" id="lname" name="lastname" placeholder=<%#= t('contact.form.placeholder2') %>
          <%# <label for="pole"><%#= t('contact.form.category') %></label>
          <%# <select id="pole" name="pole"> %>
            <%# <option value="green">Green</option>
            <option value="fashion">Fashion</option>
            <option value="Lifestyle">Lifestyle (urban - make up)</option> %>
            <%# <option value="autre">= t('contact.form.select')</option>
          <%# </select> %>
          <%# <label for="subject">= t('contact.form.sujet')</label>  %>
          <%# <textarea id="subject" name="subject" placeholder== t('contact.form.placeholder3') style="height:170px"></textarea>
          <input type="submit" value=<%#= t('contact.form.submit') class="btn-neumorphism" style="background-color:transparent;background:transparent;color:red"> %>
      </div>
      <div class="column">
        <iframe width="100%" height="100%" frameborder="0" style="border:0"
          src="https://www.google.com/maps/embed/v1/place?key=AIzaSyC0SzSJHhDb1W3KuSY8fwZQbancntTuWUs&q=104 rue Réaumur 75002 Paris" allowfullscreen>
        </iframe>
      </div>
  </div>
</section>
<section class="team" id="footer-section">

  <div class="content">
      <div>
        <%= link_to root_path do %>
          <%= image_tag 'logo-blanc.png', alt:"ADCREW Agency", width: 200 %>
        <% end %>
      </div>

      <div>
        <h6><%= t('footer.title') %></h6>
        <p>104 rue Réaumur <br> 75002 Paris <br> +33 (0)1 42 86 97 16 <br> <a href="mailto:contact@adcrew-paris.com" target="_blank">contact@adcrew-paris.com</a>
      </div>

      <div>
        <h6><%= t('footer.title2') %></h6>
        <ul class="footer-links">
          <li><a> <%= link_to t('footer.links.campaigns'), campaigns_path %></a></li>
          <li><a> <%= link_to t('footer.links.talents'), talents_path %> </a></li>
          <li><a> <%= link_to t('footer.links.mentions'), mentions_path %></a></li>
          <li><a> <% if user_signed_in? %>
            <%= link_to t('footer.links.signout'), destroy_user_session_path, method: :delete %>
          <% else %>
            <%= link_to t('footer.links.signin'), new_user_session_path %>
          <% end %>
          </a></li>
          <li>
          </li>
        </ul>
      </div>

      <div class="" style="text-align:center">
        <ul class="social-icons">
          <li><a class="instagram" href="https://www.instagram.com/adcrew_agency/" target="_blank"><i class="fab fa-instagram"></i></a></li>
          <li><a class="linkedin" href="https://www.linkedin.com/company/adcrew-paris/" target="_blank"><i class="fab fa-linkedin"></i></a></li>
          <li><a class="tiktok" href="https://www.tiktok.com/@adcrewagency" target="_blank"><i class="fab fa-tiktok"></i></a></li>
        </ul>
      </div>
  </div>

  <div class="content" id="copyright" style=" width: 85vw; height: 10vh;margin-top:67px">
    <p class="copyright-text" style="font-size: 0.8em">Copyright &copy; 2022 All Rights Reserved by
      <a style="font-size: 0.8em"> <%= link_to "Adcrew", root_path %></a>.<br>
    </p>
    <span style="font-size: 0.8em">Made with <span class="heart" style="font-size: 0.8em">♥</span> by O&A</span>
  </div>

</section>
