
<body>
  <%# <div class="banner">
    <section id="section10" class="demo">
      <a href="#scrolling1"><span></span>Scroll</a>
    </section>
  </div> %>
  <%# <video  controls class="media-object" alt="Banner-video" <%= image_tag "video1.mp4"%>
  <%# </video> %>
  <%= content_for(:navbar_class, "main-sidebar-home") %>
  <div class="video-banner">
    <%= video_tag "video3.mp4", autoplay: :autoplay, loop: :loop, muted: :muted %>
  </div>

    <div id="scrolling1"class="features">
      <div class="container-home container">
        <div class="home-section">
          <h2>Qui sommes-nous?</h2>
          <span style="text-align:left"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae quibusdam corporis ipsa, ipsum doloremque ab pariatur repellendus recusandae culpa animi delectus consectetur consequuntur! Nihil, asperiores rerum. Quaerat ex cum placeat!</span>
          <button class="btn-neumorphism"><%= link_to "En savoir plus", team_path %></button>
        </div>
        <div class="home-section-video">
          <%= video_tag "video4.mp4", autoplay: :autoplay, loop: :loop, muted: :muted %>
        </div>
      </div>
    </div>
    <div class="mb-5 text-center">
      <h2 data-animate="fadeInUp" class="title">Nos campagnes AD CREW</h2>
        <p data-animate="fadeInUp" class="lead">We have worked on dozens of projects so we have picked only the latest for you.</p>
    </div>
    <div class="container">
      <div class="wrapper-prod">
        <% @campaigns.where(tag:true).first(3).each do |campaign|  %>
          <div class="card-prod">
              <%= cl_image_tag campaign.photos.first.key %>
            <div class="info">
              <h1><%= campaign.name %></h1>
              <p><%= campaign.objectif %></p>
              <button><%= link_to "Read more", campaign %></button>
            </div>
          </div>
        <% end %>
      </div>
    </div>
    <%# <div class="features">
      <h1>Nos Campagnes</h1>

      <div class="container2">
        <div class="campagnes-home">
          <h2>Studio</h2>
          <h3>Nos Campagnes AD CREW</h3>
        </div>
        <div class="campagne-image">
          <%= image_tag('camp1.png') %>
          <%#= image_tag('camp2.png') %>
          <%#= image_tag('camp3.png') %>
        <%# </div>
      </div>
    </div> %>

</body>
