<body>
  <div class="scroll">
    <div class="smooth">
      <section class="home" id="home">
        <div class="scroll video-banner">
            <div class="background">
              <%#= video_tag "clip.mp4", autoplay: true, muted: true, loop: true, controls: false %>
              <%# <video autoplay loop muted playsinline poster="/images/poster_clip.png">
                <source src="../images/clip.mp4" type="video/mp4">
              </video> %>
            </div>
            <div class="banner-icons">
              <ul class="social-icons">
                <%# <li><a class="facebook" href="#"><i class="fab fa-facebook"></i></a></li> %>
                <li><a class="instagram" href="https://www.instagram.com/adcrew_agency/" target="_blank"><i class="fab fa-instagram"></i></a></li>
                <li><a class="linkedin" href="https://www.linkedin.com/company/adcrew-paris/" target="_blank"><i class="fab fa-linkedin"></i></a></li>
              </ul>
            </div>
        </div>
      </section>
      <section class="home" id="about">
        <div class="content">
          <div class="text-content">
            <h2><%= t('home.title') %></h2>
            <p class="pt-3">
              <%= t('home.paragraphe_html') %>
            </p>
            <a><%= link_to t('home.links.team'), team_path %></a>
          </div>
        </div>
        <%= image_tag "https://images.unsplash.com/photo-1557425493-6f90ae4659fc?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80", alt: "alttext", style: "padding: 155px" %>
      </section>
      <section class="home" id="campaign">
        <div class="content">
          <div class="text-content">
            <a><%= link_to t('home.links.campagnes'), campaigns_path %></a>
            <h2><%= t('home.title2') %></h2>
            <p class="pt-3">
              <%= t('home.paragraphe2') %>
            </p>
          </div>
        </div>
        <div class="content">
          <div class="img-wrapper">
            <%= image_tag "fulsap.jpg", alt: "alttext" %>
            <%= image_tag "coach.jpg", alt: "alttext" %>
            <%= image_tag "adidas2.jpg", alt: "alttext" %>
            <p class="note">
              Let’s influence the world <br>
              with positive values ! <br> <span> <3</span>
            </p>
            <div class="rounded-shape">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 622 575.48"><defs><style>.cls-1{fill:none;stroke:#000;stroke-miterlimit:10;stroke-width:2px;}</style></defs><g id="Calque_2" data-name="Calque 2"><g id="Calque_1-2" data-name="Calque 1"><path class="cls-1" d="M153.1,280.29C66.14,368.8-19.35,455.82,5.31,512.89c33,76.41,259.65,90.44,410.3-8,196.83-128.56,248.33-438.83,171-494.1C489.48-58.65,170.88,262.19,153.1,280.29Z"/></g></g></svg>
            </div>
          </div>
        </div>
      </section>
      <section class="home" id="talent">
        <div class="content">
          <div class="text-content">
            <a> <%= link_to t('home.links.talents'), talents_path %></a>
            <h2><%= t('home.title3') %></h2>
            <p class="pt-3">
              <%= t('home.paragraphe3') %>
            </p>
          </div>
        </div>
        <div class="content">
          <div class="img-wrapper">
            <div class="gif-talent" id="gif-one"></div>
            <div class="gif-talent" id="gif-three"></div>
            <div class="gif-talent" id="gif-two"></div>
            <div class="gif-talent" id="gif-four"></div>
          </div>
        </div>
      </section>
    </div>
  </div>

  <%#= content_for(:navbar_class, "main-sidebar-home") %>

<!--   <div class="scroll video-banner">
    <%= image_tag "https://images.unsplash.com/photo-1558403194-611308249627?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1770&q=80", style: "filter: grayscale(100%);" %>
    <div class="banner-icons">
      <ul class="social-icons">
        <li><a class="facebook" href="#"><i class="fab fa-facebook"></i></a></li>
        <li><a class="instagram" href="#"><i class="fab fa-instagram"></i></a></li>
        <li><a class="linkedin" href="#"><i class="fab fa-linkedin"></i></a></li>
      </ul>
    </div>
  </div>

  <div id="scrolling1"class="features container">
    <div class="container-home">
      <div class="home-section">
        <h2>Qui sommes-nous?</h2>
        <span style="text-align:left"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae quibusdam corporis ipsa, ipsum doloremque ab pariatur repellendus recusandae culpa animi.</span>
        <button class="btn-neumorphism"><%= link_to "En savoir plus", team_path %></button>
      </div>
      <div class="home-section-video">
        <%#= video_tag "video4.mp4", autoplay: :autoplay, loop: :loop, muted: :muted %>
      </div>
    </div>
  </div>

  <div class="mb-5 text-center" style="margin-top:100px">
    <h2 data-animate="fadeInUp" class="title">Nos campagnes AD CREW</h2>
      <p data-animate="fadeInUp" class="lead">We have worked on dozens of projects so we have picked only the latest for you.</p>
  </div>

  <div class="container">
    <div class="wrapper-prod">
      <% @campaigns.first(4).each do |campaign|  %>
        <div class="card-prod">
            <%= cl_image_tag campaign.photos.first.key if campaign.photos.first.present? %>
          <div class="info">
            <h1><%= campaign.name %></h1>
            <p><%= campaign.objectif %></p>
            <button><%= link_to "Read more", campaign %></button>
          </div>
        </div>
      <% end %>
    </div>
  </div> -->


<!--     <section class="home" id="campaign">
      <div class="content">
        <div class="text-content">
          <a href="#">Découvrir nos campagnes</a>
          <h2>NOS CAMPAGNES</h2>
          <p class="pt-3">
            AD CREW est une agence parisienne spécialisée dans le marketing d’influence. Son rôle est de mettre en relation les marques et les influenceurs.
          </p>
        </div>
        <div class="wrapper-prod">
            <% @campaigns.first(4).each do |campaign|  %>
              <div class="card-prod">
                <%= cl_image_tag campaign.photos.first.key if campaign.photos.first.present? %>
                <div class="info">
                  <h1><%= campaign.name %></h1>
                  <p><%= campaign.objectif %></p>
                  <button><%= link_to "Read more", campaign %></button>
                </div>
              </div>
            <% end %>
        </div>
      </div>
      <div class="content">
        <div class="img-wrapper">
          <%= image_tag "https://source.unsplash.com/random", alt: "alttext" %>
          <%= image_tag "https://source.unsplash.com/random", alt: "alttext" %>
          <%= image_tag "https://source.unsplash.com/random", alt: "alttext" %>
          <%= image_tag "https://source.unsplash.com/random", alt: "alttext" %>
        </div>
      </div>
    </section> -->

</body>
