<%# <div class="banner">
</div> %>
<div class="container-prod">
  <% @campaigns.where(tag:true).each do |campaign|  %>
    <div class="card-prod">
      <div class="Box">
        <%# <img src="https://images.pexels.com/photos/594610/pexels-photo-594610.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"> %>
        <%= cl_image_tag(campaign.photos.first.key, :width => 500) %>
      </div>
      <div class="details">
        <h2><%= campaign.name %></h2>
        <p><%= campaign.objectif %>. </p>
        <p><%= campaign.activation %>. </p>
        <p><%= campaign.reach %>. </p>
      </div>
    </div>
  <% end %>
  <%# <div class="card-prod">
    <div class="Box">
      <img src="https://images.pexels.com/photos/3699319/pexels-photo-3699319.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500">
    </div>
    <div class="details">
      <h2>Lorem ipsum dolor</h2>
      <p>consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. </p>
    </div>
  </div>
  <div class="card-prod">
    <div class="Box">
      <img src="https://images.pexels.com/photos/598917/pexels-photo-598917.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500">
    </div>
    <div class="details">
      <h2>Lorem ipsum dolor</h2>
      <p>consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. </p>
    </div>
  </div> %>
</div>
<div class="container-card">
  <div class="options">
    <% @campaigns.where(tag:true).each do |campaign|  %>
      <div class="option active" style="--optionBackground:url(<%= campaign.photos.attached? ? cl_image_path(campaign.photos.first.key) : asset_path('background.jpeg') %>);">
          <div class="shadow"></div>
          <div class="label">
            <div class="icon">
                <i class="fas fa-walking"></i>
            </div>
            <div class="info">
                <div class="main"><%= campaign.name %></div>
                <div class="sub"><%= campaign.objectif %></div>
            </div>
          </div>
      </div>
    <% end %>
    <div class="option" style="--optionBackground:url(https://66.media.tumblr.com/8b69cdde47aa952e4176b4200052abf4/tumblr_o51p7mFFF21qho82wo1_1280.jpg);">
        <div class="shadow"></div>
        <div class="label">
          <div class="icon">
              <i class="fas fa-snowflake"></i>
          </div>
          <div class="info">
              <div class="main">Oretemauw</div>
              <div class="sub">Omuke trughte a otufta</div>
          </div>
        </div>
    </div>
    <div class="option" style="--optionBackground:url(https://66.media.tumblr.com/5af3f8303456e376ceda1517553ba786/tumblr_o4986gakjh1qho82wo1_1280.jpg);">
        <div class="shadow"></div>
        <div class="label">
          <div class="icon">
              <i class="fas fa-tree"></i>
          </div>
          <div class="info">
              <div class="main">Iteresuselle</div>
              <div class="sub">Omuke trughte a otufta</div>
          </div>
        </div>
    </div>
    <div class="option" style="--optionBackground:url(https://66.media.tumblr.com/5516a22e0cdacaa85311ec3f8fd1e9ef/tumblr_o45jwvdsL11qho82wo1_1280.jpg);">
        <div class="shadow"></div>
        <div class="label">
          <div class="icon">
              <i class="fas fa-tint"></i>
          </div>
          <div class="info">
              <div class="main">Idiefe</div>
              <div class="sub">Omuke trughte a otufta</div>
          </div>
        </div>
    </div>
    <div class="option" style="--optionBackground:url(https://66.media.tumblr.com/f19901f50b79604839ca761cd6d74748/tumblr_o65rohhkQL1qho82wo1_1280.jpg);">
        <div class="shadow"></div>
        <div class="label">
          <div class="icon">
              <i class="fas fa-sun"></i>
          </div>
          <div class="info">
              <div class="main">Inatethi</div>
              <div class="sub">Omuke trughte a otufta</div>
          </div>
        </div>
    </div>
  </div>
</div>
