<%# <div class="banner">
</div> %>
<div class="container-card">
  <div class="options">
    <% @campaigns.where(tag:true).each do |campaign|  %>
      <div class="option active" style="--optionBackground:url(<%= campaign.photos.attached? ? cl_image_path(campaign.photos.first.key) : asset_path('background.jpeg') %>);">
          <div class="shadow"></div>
          <div class="label">
            <div class="icon">
                <i class="fas fa-walking"></i>
            </div>
            <div class="info">
                <div class="main"><%= campaign.name %></div>
                <div class="sub"><%= campaign.objectif %></div>
            </div>
          </div>
      </div>
    <% end %>
  </div>
</div>

<div class="wrapper-prod">
  <% @campaigns.where(tag:true).each do |campaign|  %>
    <div class="card-prod">
      <%= cl_image_tag campaign.photos.first.key %>
      <div class="info">
        <h1><%= campaign.name %></h1>
        <p><%= campaign.objectif %></p>
        <button><%= link_to "Read more", campaign %></button>
      </div>
    </div>
  <% end %>
</div>
