<%#= cache_if current_user.nil?, "public-events-v1", expires_in: 12.hours do %>
  <%#= content_for(:navbar_class, "main-sidebar-home") %>
  <div class="scroll">
    <div class="smooth">
      <section class="team" id="ceo">
        <div class="content">
          <div class="text-content">
            <% title t('team.metatitle') %>
            <h2><%= description t('team.title') %></h2>
            <p class="pt-3 overflow-clip-ellipsis"> <%= t('team.paragraphe_html') %> </p>
          </div>
        </div>
        <div class="content">
          <div class="img-wrapper" >
            <div class="d-flex" style="flex-direction:column">
              <div class="gif-team" id="maud" style="background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url(<%= image_path('maud.jpg', crop: :fill, quality: :auto, fetch_format: :auto,  width: 400, flags: :lossy)%>); width:300px">
              </div>
              <div class="d-flex" style="justify-content:center; text-align:center">
                <p style="font-size: 12px;font-family: 'Epilogue'; line-height: 1.2;"><strong> MAUD H . L . </strong><br>
                CEO</p>
              </div>
            </div>
            <div class="d-flex" style="flex-direction:column">
              <div class="gif-team" id="jessica" style="background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url(<%= image_path('jessica.jpg', crop: :fill, quality: :auto, fetch_format: :auto, width: 400, flags: :lossy)%>); width:300px">
              </div>
              <div class="d-flex" style="justify-content:center;text-align:center">
                <p style="font-size: 12px;font-family: 'Epilogue'; line-height: 1.2;"><strong> JESSICA COHEN BOUAZIZ </strong><br>
                CEO</p>
              </div>
            </div>
          </div>
        </div>
        <div style="width: 100%;">
          <p class="note">
            <%= t('team.note_html') %>
          </p>
        </div>
      </section>
      <section class="team" id="team">

        <div class="content">
          <div class="text-content">
            <div class="d-flex justify-content-between align-items-center mb-2">
              <p class="mb-0"><%= t('team.team') %></p>
              <a> <%= link_to t('team.links.contact'), contact_path %></a>
            </div>
          </div>
        </div>

        <div class="content-team">
          <div class="img-wrapper" style="display: grid;grid-template-columns: 1fr 1fr 1fr 1fr;grid-gap: 10px;width: 85vw;margin: 30px auto;">
            <div class="team-card">
              <div class="background" style="background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url(<%= image_path('maureen.jpg', crop: :fill, width: 400) %>); background-position: top center; background-size: cover">
                <div class="card-info">
                  <div class="top py-1">
                    <div class="info">
                    </div>
                  </div>

                  <div>
                    <h2 class="info title"> Maurine </h2>
                    <p class="info justify-content-center"><%= t('team.statut') %></p>
                  </div>

                  <div class="bottom">
                    <div class="info justify-content-center">
                      <a href="mailto:maurine@adcrew-paris.com" target="_blank"><i class="far fa-envelope fa-2x"></i></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="team-card">
              <div class="background" style="background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url(<%= image_path('alix.jpg', crop: :fill, width: 400) %>); background-position: top center; background-size: cover">
                <div class="card-info">
                  <div class="top py-1">
                    <div class="info">
                    </div>
                  </div>

                  <div>
                    <h2 class="info title"> Alix </h2>
                    <p class="info justify-content-top "><%= t('team.statut') %></p>
                  </div>

                  <div class="bottom">
                    <div class="info justify-content-center">
                      <a href="mailto:alix@adcrew-paris.com" target="_blank"><i class="far fa-envelope fa-2x"></i></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="team-card">
              <div class="background" style="background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url(<%= image_path('chloe.jpg', crop: :fill, width: 400) %>); background-position: top center; background-size: cover">
                <div class="card-info">
                  <div class="top py-1">
                    <div class="info">
                    </div>
                  </div>

                  <div>
                    <h2 class="info title"> Pénélope </h2>
                    <p class="info justify-content-center"><%= t('team.statut') %></p>
                  </div>

                  <div class="bottom">
                    <div class="info justify-content-center">
                      <a href="mailto:penelope@adcrew-paris.com" target="_blank"><i class="far fa-envelope fa-2x"></i></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="team-card">
              <div class="background" style="background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url(<%= image_path('manon.jpg', crop: :fill, width: 400) %>); background-position: top center; background-size: cover">
                <div class="card-info">
                  <div class="top py-1">
                    <div class="info">
                    </div>
                  </div>

                  <div>
                    <h2 class="info title"> Manon </h2>
                    <p class="info justify-content-center"><%= t('team.statut') %></p>
                  </div>

                  <div class="bottom">
                    <div class="info justify-content-center">
                      <a href="mailto:manon@adcrew-paris.com" target="_blank"><i class="far fa-envelope fa-2x"></i></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="team-card">
              <div class="background" style="background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url(<%= image_path('melchior.jpg', crop: :fill, width: 400) %>); background-position: top center; background-size: cover">
                <div class="card-info">
                  <div class="top py-1">
                    <div class="info">
                    </div>
                  </div>

                  <div>
                    <h2 class="info title"> Melchior </h2>
                    <p class="info justify-content-center"><%= t('team.statut') %></p>
                  </div>

                  <div class="bottom">
                    <div class="info justify-content-center">
                      <a href="mailto:melchior@adcrew-paris.com" target="_blank"><i class="far fa-envelope fa-2x"></i></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="team-card">
              <div class="background" style="background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url(<%= image_path('carla.png', crop: :fill, width: 400) %>); background-position: top center; background-size: cover">
                <div class="card-info">
                  <div class="top py-1">
                    <div class="info">
                    </div>
                  </div>

                  <div>
                    <h2 class="info title"> Carla </h2>
                    <p class="info justify-content-center"><%= t('team.statut') %></p>
                  </div>

                  <div class="bottom">
                    <div class="info justify-content-center">
                      <a href="mailto:carla@adcrew-paris.com" target="_blank"><i class="far fa-envelope fa-2x"></i></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="team-card">
              <div class="background" style="background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url(<%= image_path('nao.jpg', crop: :fill, width: 400) %>); background-position: top center; background-size: cover">
                <div class="card-info">
                  <div class="top py-1">
                    <div class="info">
                    </div>
                  </div>

                  <div>
                    <h2 class="info title"> Naomie </h2>
                    <p class="info justify-content-center"><%= t('team.statut3') %></p>
                  </div>

                  <div class="bottom">
                    <div class="info justify-content-center">
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="team-card">
              <div class="background" style="background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url(<%= image_path('victoria.jpg', crop: :fill, width: 400) %>); background-position: top center; background-size: cover">
                <div class="card-info">
                  <div class="top py-1">
                    <div class="info">
                    </div>
                  </div>

                  <div>
                    <h2 class="info title"> Victoria </h2>
                    <p class="info justify-content-center"><%= t('team.statut2') %></p>
                  </div>

                  <div class="bottom">
                    <div class="info justify-content-center">
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="team-card">
              <div class="background" style="background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url(<%= image_path('sofia.jpg', crop: :fill, width: 400) %>); background-position: top center; background-size: cover">
                <div class="card-info">
                  <div class="top py-1">
                    <div class="info">
                    </div>
                  </div>

                  <div>
                    <h2 class="info title"> Sofia </h2>
                    <p class="info justify-content-center"><%= t('team.statut5') %></p>
                  </div>

                  <div class="bottom">
                    <div class="info justify-content-center">
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="team-card">
              <div class="background" style="background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url(<%= image_path('leonie.jpg') %>); background-position: top center; background-size: cover">
                <div class="card-info">
                  <div class="top py-1">
                    <div class="info">
                    </div>
                  </div>

                  <div>
                    <h2 class="info title"> Léonie </h2>
                    <p class="info justify-content-center"><%= t('team.statut4') %></p>
                  </div>

                  <div class="bottom">
                    <div class="info justify-content-center">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>


        </div>
      </section>

      <section class="team" id="moto">
        <div class="content">
          <div class="text-content">
            <h2><%= t('home.title4') %></h2>
            <div class="pt-3 moto">
              <p><%= t('home.paragraphe4') %></p>
            </div>
            <div class="rounded-shape">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 939.46 338.24"><defs><style>.cls-1{fill:none;stroke:#000;stroke-miterlimit:10;stroke-width:2px;}</style></defs><g id="Calque_2" data-name="Calque 2"><g id="Calque_1-2" data-name="Calque 1"><path class="cls-1" d="M.19,8.45c44.31-8.76,108.33-14.29,175,10,120.31,43.84,119.72,137.6,250,228,22.18,15.39,154.29,104.29,327.7,88.81,81.85-7.3,145.51-35.4,184.6-56.68"/><path class="cls-1" d="M871.54,270.6a442.39,442.39,0,0,1,66.52,7.71q-12.3,29.78-24.62,59.55"/></g></g></svg>
            </div>
          </div>
        </div>
        <%= image_tag "https://res.cloudinary.com/akoustyle/image/upload/v1651094210/3Y0A1908_umua1r.jpg", alt: "alttext" %>
      </section>

      <section class="team" id="footer-section">

        <div class="content">
            <div>
              <%= link_to root_path do %>
                <%= image_tag 'logo-blanc.png', alt:"ADCREW Agency", width: 200 %>
              <% end %>
            </div>

            <div>
              <h6><%= t('footer.title') %></h6>
              <p>104 rue Réaumur <br> 75002 Paris <br> +33 (0)1 42 86 97 16 <br> <a href="mailto:contact@adcrew-paris.com" target="_blank">contact@adcrew-paris.com</a>
            </div>

            <div>
              <h6><%= t('footer.title2') %></h6>
              <ul class="footer-links">
                <li><a> <%= link_to t('footer.links.campaigns'), campaigns_path %></a></li>
                <li><a> <%= link_to t('footer.links.talents'), talents_path %> </a></li>
                <li><a> <%= link_to t('footer.links.mentions'), mentions_path %></a></li>
                <li><a> <% if user_signed_in? %>
                  <%= link_to t('footer.links.signout'), destroy_user_session_path, method: :delete %>
                <% else %>
                  <%= link_to t('footer.links.signin'), new_user_session_path %>
                <% end %>
                </a></li>
                <li>
                </li>
              </ul>
            </div>

            <div class="" style="text-align:center">
              <ul class="social-icons">
                <li><a class="instagram" href="https://www.instagram.com/adcrew_agency/" target="_blank"><i class="fab fa-instagram"></i></a></li>
                <li><a class="linkedin" href="https://www.linkedin.com/company/adcrew-paris/" target="_blank"><i class="fab fa-linkedin"></i></a></li>
                <li><a class="tiktok" href="https://www.tiktok.com/@adcrewagency" target="_blank"><i class="fab fa-tiktok"></i></a></li>
              </ul>
            </div>
        </div>

        <div class="content" id="copyright" style=" width: 85vw; height: 10vh;margin-top:67px">
          <p class="copyright-text" style="font-size: 0.8em">Copyright &copy; 2022 All Rights Reserved by
            <a style="font-size: 0.8em"> <%= link_to "Adcrew", root_path %></a>.<br>
          </p>
          <span style="font-size: 0.8em">Made with <span class="heart" style="font-size: 0.8em">♥</span> by O&A</span>
        </div>

      </section>
    </div>
  </div>
<%# end %>
