<%= content_for(:navbar_class, "main-sidebar-home") %>
<div class="banner-talent">
</div>
<div class="container" style="margin: 50px auto">
  <h1 style="text-align:center">ADCREW c'est <span style="border-bottom: solid 5px red;width: 130px">une famille</span></h1>
  <p style="margin-top: 20px;text-align:center">C'est l'histoire d'une agence de communication 3.0 qui a vu le jour en 2017 à l'instar de deux parisiennes, Jessica et Maud. Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit repudiandae iste nulla sint temporibus praesentium voluptate ipsum! Fugit repellendus voluptate commodi eos natus delectus quo illum, veritatis, praesentium ut perspiciatis. </p>
</div>
<div class="container d-flex" style="margin: 100px auto">
  <div class="image-ceo">
    <%= image_tag 'featured.jpg', style:'width:400px' %>
  </div>
  <div class="wording-ceo" style="padding-left:80px;padding-top:40px">
    <h3 style="text-align:right"><span style="border-bottom: solid 5px red">Une histoire de femme</span></h3>
    <p style="text-align:right">En fait... c'est d'abord une histoire de femmes, de femmes emtrepreneurs, passionnées de digitale qui se sont lancées à la conquête d'une nouvelle manière de communiquer.</p>
  </div>
</div>

<div class="container">
  <h2 style="text-align:left;border-bottom: solid 5px red;width: 130px">La Team</h2>
  <p style="text-align:left">L'ambiance chaleureuse de l'équipe, les valeurs auxquelles nous croyons et que nous défendons insufflent une énergie bienveillante et familiale à l'agence.</p>
  <div class="container-team">
    <div class="box">
      <div class="imgBx">
        <%= image_tag 'maud.png', style:'width:200px'%>
      </div>
      <div class="card-footer">
        <h3>Maud H.L.</h3>
        <p style="font-family: Sketchalot;color:red">Co-fondatrice</p>
      </div>
    </div>

    <div class="box">
      <div class="imgBx">
        <%= image_tag 'jessica.png', style:'width:200px'%>
      </div>
      <div class="card-footer">
        <h3>Jessica Cohen Bouaziz</h3>
        <p style="font-family: Sketchalot;color:red">Co-fondatrice</p>
      </div>
    </div>

    <div class="box">
      <div class="imgBx">
        <%= image_tag 'alix.png', style:'width:200px'%>
      </div>
      <div class="card-footer">
        <h3>Alix Lecoq</h3>
        <p style="font-family: Sketchalot">Talent manager</p>
      </div>
    </div>
    <div class="box">
      <div class="imgBx">
        <%= image_tag 'leonie.png', style:'width:200px'%>
      </div>
      <div class="card-footer">
        <h3>Léonie Sevin</h3>
        <p style="font-family: Sketchalot">Chef de production</p>
      </div>
    </div>
    <div class="box">
      <div class="imgBx">
        <%= image_tag 'penelope.png', style:'width:200px'%>
      </div>
      <div class="card-footer">
        <h3>Pénélope Garnier</h3>
        <p style="font-family: Sketchalot">Talent manager</p>
      </div>
    </div>
    <div class="box">
      <div class="imgBx">
        <%= image_tag 'sofia.png', style:'width:200px'%>
      </div>
      <div class="card-footer">
        <h3>Sofia Essalhi</h3>
        <p style="font-family: Sketchalot">Gestion et comptabilité</p>
      </div>
    </div>
    <div class="box">
      <div class="imgBx">
        <%= image_tag 'manon.png', style:'width:200px'%>
      </div>
      <div class="card-footer">
        <h3>Manon Baudot</h3>
        <h3>Talent manager</h3>
      </div>
    </div>
    <div class="box">
      <div class="imgBx">
        <%= image_tag 'melchior.png', style:'width:200px'%>
      </div>
      <div class="card-footer">
        <h3>Melchior Carissimo</h3>
        <p style="font-family: Sketchalot">Talent manager</p>
      </div>
    </div><div class="box">
      <div class="imgBx">
        <%= image_tag 'maureen.png', style:'width:200px'%>
      </div>
      <div class="card-footer">
        <h3>Maurine Masse</h3>
        <p style="font-family: Sketchalot">Talent manager</p>
      </div>
    </div>
    <div class="box">
      <div class="imgBx">
        <%= image_tag 'carla.png', style:'width:200px'%>
      </div>
      <div class="card-footer">
        <h3>Carla Monteiro</h3>
        <p style="font-family: Sketchalot;color:red">Chef de projet</p>
      </div>
    </div>

  </div>
</div>
