<%= content_for(:navbar_class, "main-sidebar-home") %>
<div class="scroll">
  <div class="smooth">
    <section class="team" id="team">
      <div class="content">
        <div class="text-content">
          <h2><%= t('team.title') %></h2>
          <p class="pt-3">
            <%= t('team.paragraphe') %>
          </p>
        </div>
      </div>
      <div class="content">
          <div class="img-wrapper">
            <div class="gif-talent" id="maud">
              <div class="align-items-end d-flex justify-content-center w-100" style="position: absolute; bottom: -45px;">
                <p style="font-family: 'Lexend Mega'; line-height: 1.9;"><strong> Maud H . L . </strong></p>
                <p class="ml-2">CEO</p>
              </div>
            </div>
            <div class="gif-talent" id="jessica">
              <div class="align-items-end d-flex justify-content-center w-100" style="position: absolute; bottom: -45px;">
                <p style="font-family: 'Lexend Mega'; line-height: 1.9;"><strong> Jessica Cohen Bouaziz </strong></p>
                <p class="ml-2">CEO</p>
              </div>
            </div>
            <p class="note" style="font-family:'Epilogue';line-height: 1.5">
              <%= t('team.note') %>
            </p>
            <div class="gif-talent"></div>
          </div>
      </div>
    </section>
    <section class="team" id="team">

      <div class="content">
        <div class="text-content">
          <div class="d-flex justify-content-between align-items-center mb-2">
            <p class="mb-0"><%= t('team.team') %></p>
            <a> <%= link_to t('team.links.contact'), contact_path %></a>
          </div>
        </div>
      </div>

      <div class="content">
<!--         <div class="img-wrapper">
          <div class="team-card2">
            <div class="background" style="background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url('<%= image_path('maureen.jpg') %>'); background-position: center; background-size: cover">
              <div class="card-info">
                <div class="top py-1">
                  <div class="info">
                    <p class="px-3 tag">Talent Manager</p>
                  </div>
                </div>

                <h2 class="info title">Maureen</h2>

                <div class="bottom">
                  <div class="info justify-content-center">
                  <p>TM</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="team-card2">
            <div class="background" style="background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url('<%= image_path('alix.jpg') %>'); background-position: center; background-size: cover">
              <div class="card-info">
                <div class="top py-1">
                  <div class="info">
                    <p class="px-3 tag">Talent Manager</p>
                  </div>
                </div>

                <h2 class="info title">ALIX</h2>

                <div class="bottom">
                  <div class="info justify-content-center">
                  <p>TM</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="team-card2">
            <div class="background" style="background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url('<%= image_path('manon.jpg') %>'); background-position: center; background-size: cover">
              <div class="card-info">
                <div class="top py-1">
                  <div class="info">
                    <p class="px-3 tag">Talent Manager</p>
                  </div>
                </div>

                <h2 class="info title">MANON</h2>

                <div class="bottom">
                  <div class="info justify-content-center">
                  <p>TM</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="team-card2">
            <div class="background" style="background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url('<%= image_path('melchior.jpg') %>'); background-position: center; background-size: cover">
              <div class="card-info">
                <div class="top py-1">
                  <div class="info">
                    <p class="px-3 tag">Talent Manager</p>
                  </div>
                </div>

                <h2 class="info title">MELCHIOR</h2>

                <div class="bottom">
                  <div class="info justify-content-center">
                  <p>TM</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="team-card2">
            <div class="background" style="background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url('<%= image_path('penelope.png') %>'); background-position: center; background-size: cover">
              <div class="card-info">
                <div class="top py-1">
                  <div class="info">
                    <p class="px-3 tag">Talent Manager</p>
                  </div>
                </div>

                <h2 class="info title">PENELOPE</h2>

                <div class="bottom">
                  <div class="info justify-content-center">
                  <p>TM</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div> -->
        <div class="img-wrapper">
          <div class="team-card">
            <div class="background" style="background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url(<%= image_path('maureen.jpg') %>); background-position: center; background-size: cover">
              <div class="card-info">
                <div class="top py-1">
                  <div class="info">
                  </div>
                </div>

                <div>
                  <h2 class="info title"> Maureen </h2>
                  <p class="info justify-content-center">Talent Manager</p>
                </div>

                <div class="bottom">
                  <div class="info justify-content-center">
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="team-card">
            <div class="background" style="background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url(<%= image_path('alix.jpg') %>); background-position: center; background-size: cover">
              <div class="card-info">
                <div class="top py-1">
                  <div class="info">
                  </div>
                </div>

                <div>
                  <h2 class="info title"> Alix </h2>
                  <p class="info justify-content-center">Talent Manager</p>
                </div>

                <div class="bottom">
                  <div class="info justify-content-center">
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="team-card">
            <div class="background" style="background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url(<%= image_path('chloe.jpg') %>); background-position: center; background-size: cover">
              <div class="card-info">
                <div class="top py-1">
                  <div class="info">
                  </div>
                </div>

                <div>
                  <h2 class="info title"> Chloé </h2>
                  <p class="info justify-content-center">Talent Manager</p>
                </div>

                <div class="bottom">
                  <div class="info justify-content-center">
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="team-card">
            <div class="background" style="background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url(<%= image_path('leonie.jpg') %>); background-position: center; background-size: cover">
              <div class="card-info">
                <div class="top py-1">
                  <div class="info">
                  </div>
                </div>

                <div>
                  <h2 class="info title"> Léonie </h2>
                  <p class="info justify-content-center">Chef de prod</p>
                </div>

                <div class="bottom">
                  <div class="info justify-content-center">
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="team-card">
            <div class="background" style="background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url(<%= image_path('manon.jpg') %>); background-position: center; background-size: cover">
              <div class="card-info">
                <div class="top py-1">
                  <div class="info">
                  </div>
                </div>

                <div>
                  <h2 class="info title"> Manon </h2>
                  <p class="info justify-content-center">Talent Manager</p>
                </div>

                <div class="bottom">
                  <div class="info justify-content-center">
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="team-card">
            <div class="background" style="background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url(<%= image_path('melchior.jpg') %>); background-position: center; background-size: cover">
              <div class="card-info">
                <div class="top py-1">
                  <div class="info">
                  </div>
                </div>

                <div>
                  <h2 class="info title"> Melchior </h2>
                  <p class="info justify-content-center">Talent Manager</p>
                </div>

                <div class="bottom">
                  <div class="info justify-content-center">
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="team-card">
            <div class="background" style="background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url(<%= image_path('nao.jpg') %>); background-position: center; background-size: cover">
              <div class="card-info">
                <div class="top py-1">
                  <div class="info">
                  </div>
                </div>

                <div>
                  <h2 class="info title"> Nao </h2>
                  <p class="info justify-content-center">Talent Manager</p>
                </div>

                <div class="bottom">
                  <div class="info justify-content-center">
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="team-card">
            <div class="background" style="background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url(<%= image_path('sofia.jpg') %>); background-position: center; background-size: cover">
              <div class="card-info">
                <div class="top py-1">
                  <div class="info">
                  </div>
                </div>

                <div>
                  <h2 class="info title"> Sofia </h2>
                  <p class="info justify-content-center">Gestion & Comptablilité</p>
                </div>

                <div class="bottom">
                  <div class="info justify-content-center">
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="team-card">
            <div class="background" style="background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url(<%= image_path('victoria.jpg') %>); background-position: center; background-size: cover">
              <div class="card-info">
                <div class="top py-1">
                  <div class="info">
                  </div>
                </div>

                <div>
                  <h2 class="info title"> Victoria </h2>
                  <p class="info justify-content-center">Talent Manager</p>
                </div>

                <div class="bottom">
                  <div class="info justify-content-center">
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="team-card">
            <div class="background" style="background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url(<%= image_path('carla.png') %>); background-position: center; background-size: cover">
              <div class="card-info">
                <div class="top py-1">
                  <div class="info">
                  </div>
                </div>

                <div>
                  <h2 class="info title"> Carla </h2>
                  <p class="info justify-content-center">Chef de Projet</p>
                </div>

                <div class="bottom">
                  <div class="info justify-content-center">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>


      </div>
    </section>
  </div>
</div>
