<%= content_for(:navbar_class, "main-sidebar-home") %>
<div class="banner-talent">
  <h1>About Us Page</h1>
  <p>Some text about who we are and what we do.</p>
  <p>Resize the browser window to see that this page is responsive by the way.</p>
</div>

<h2 style="text-align:center">Our Team</h2>
<div class="row" style="display: flex; flex-wrap: wrap; margin-right: 0px; margin-left: 0px">
  <div class="team-column">
    <div class="card-team">
      <%= image_tag 'maud.png', style: 'width: 100%' %>
      <div class="container-team">
        <h2>Mau H. Lejeune</h2>
        <p class="team-title">CEO & Founder</p>
        <p>Some text that describes me lorem ipsum ipsum lorem.</p>
        <p>jane@example.com</p>
        <p><button class="team-button">Contact</button></p>
      </div>
    </div>
  </div>

  <div class="team-column">
    <div class="card-team">
      <%= image_tag 'jessica.png', style: 'width: 100%' %>
      <div class="container-team">
        <h2>Jessica </h2>
        <p class="team-title">Art Director</p>
        <p>Some text that describes me lorem ipsum ipsum lorem.</p>
        <p>mike@example.com</p>
        <p><button class="team-button">Contact</button></p>
      </div>
    </div>
  </div>

  <div class="team-column">
    <div class="card-team">
      <%= image_tag 'leonie.png', style: 'width: 100%' %>
      <div class="container-team">
        <h2>Leonie</h2>
        <p class="team-title">Designer</p>
        <p>Some text that describes me lorem ipsum ipsum lorem.</p>
        <p>john@example.com</p>
        <p><button class="team-button">Contact</button></p>
      </div>
    </div>
  </div>

  <div class="team-column">
    <div class="card-team">
      <%= image_tag 'melchior.png', style: 'width: 100%' %>
      <div class="container-team">
        <h2>Melchior</h2>
        <p class="team-title">Designer</p>
        <p>Some text that describes me lorem ipsum ipsum lorem.</p>
        <p>john@example.com</p>
        <p><button class="team-button">Contact</button></p>
      </div>
    </div>
  </div>

  <div class="team-column">
    <div class="card-team">
      <%= image_tag 'manon.png', style: 'width: 100%' %>
      <div class="container-team">
        <h2>Manon</h2>
        <p class="team-title">Designer</p>
        <p>Some text that describes me lorem ipsum ipsum lorem.</p>
        <p>john@example.com</p>
        <p><button class="team-button">Contact</button></p>
      </div>
    </div>
  </div>

  <div class="team-column">
    <div class="card-team">
      <%= image_tag 'sofia.png', style: 'width: 100%' %>
      <div class="container-team">
        <h2>Sofia</h2>
        <p class="team-title">Designer</p>
        <p>Some text that describes me lorem ipsum ipsum lorem.</p>
        <p>john@example.com</p>
        <p><button class="team-button">Contact</button></p>
      </div>
    </div>
  </div>

  <div class="team-column">
    <div class="card-team">
      <%= image_tag 'maureen.png', style: 'width: 100%' %>
      <div class="container-team">
        <h2>Maureen</h2>
        <p class="team-title">Designer</p>
        <p>Some text that describes me lorem ipsum ipsum lorem.</p>
        <p>john@example.com</p>
        <p><button class="team-button">Contact</button></p>
      </div>
    </div>
  </div>

  <div class="team-column">
    <div class="card-team">
      <%= image_tag 'alix.png', style: 'width: 100%' %>
      <div class="container-team">
        <h2>Alix</h2>
        <p class="team-title">Designer</p>
        <p>Some text that describes me lorem ipsum ipsum lorem.</p>
        <p>john@example.com</p>
        <p><button class="team-button">Contact</button></p>
      </div>
    </div>
  </div>

  <div class="team-column">
    <div class="card-team">
      <%= image_tag 'penelope.png', style: 'width: 100%' %>
      <div class="container-team">
        <h2>Penelope</h2>
        <p class="team-title">Designer</p>
        <p>Some text that describes me lorem ipsum ipsum lorem.</p>
        <p>john@example.com</p>
        <p><button class="team-button">Contact</button></p>
      </div>
    </div>
  </div>
</div>
<div class="image-area">
		<div class="img-wrapper">
			<%= image_tag 'maud.png', style:'width:300px', alt:'Maud H. Lejeune' %>
			<h2>Maud H. Lejeune</h2>
			<ul>
				<li><a href="https://github.com/atuljustano"><i class="fab fa-github"></i></a></li>
				<li><a href="https://www.instagram.com/atulkprajapati2000/"><i class="fab fa-instagram"></i></a></li>
				<li><a href="https://twitter.com/atuljustano"><i class="fab fa-twitter"></i></a></li>
				<li><a href="https://www.youtube.com/channel/UCf-KfxuY8PZBSD_8RW2nYsw"><i class="fab fa-youtube"></i></a></li>
			</ul>
		</div>
	</div>
