<%= content_for(:navbar_class, "main-sidebar-home") %>
<div class="scroll">
  <div class="smooth">
    <section class="team" id="team">
      <div class="content">
        <div class="text-content">
          <h2><%= t('team.title') %></h2>
        </div>
      </div>
      <div class="content">
          <div class="img-wrapper">
            <div class="gif-talent" id="maud">
              <div class="align-items-end d-flex justify-content-center w-100" style="position: absolute; bottom: -45px;">
                <p style="font-family: 'Lexend Mega'; line-height: 1.9;"><strong> Maud H . L . </strong></p>
                <p class="ml-2">CEO</p>
              </div>
            </div>
            <div class="gif-talent" id="jessica">
              <div class="align-items-end d-flex justify-content-center w-100" style="position: absolute; bottom: -45px;">
                <p style="font-family: 'Lexend Mega'; line-height: 1.9;"><strong> Jessica Cohen Bouaziz </strong></p>
                <p class="ml-2">CEO</p>
              </div>
            </div>
            <div style="width: 21%;">

            </div>
            <div style="width: 27%;">
              <p class="side-text">
                <%= t('team.paragraphe_html') %>
              </p>
              <p class="note">
                <%= t('team.note_html') %>
              </p>
            </div>
          </div>
      </div>
    </section>
    <section class="team" id="team">

      <div class="content">
        <div class="text-content">
          <div class="d-flex justify-content-between align-items-center mb-2">
            <p class="mb-0"><%= t('team.team') %></p>
            <a> <%= link_to t('team.links.contact'), contact_path %></a>
          </div>
        </div>
      </div>

      <div class="content">
<!--         <div class="img-wrapper">
          <div class="team-card2">
            <div class="background" style="background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url('<%= image_path('maureen.jpg') %>'); background-position: center; background-size: cover">
              <div class="card-info">
                <div class="top py-1">
                  <div class="info">
                    <p class="px-3 tag">Talent Manager</p>
                  </div>
                </div>

                <h2 class="info title">Maureen</h2>

                <div class="bottom">
                  <div class="info justify-content-center">
                  <p>TM</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="team-card2">
            <div class="background" style="background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url('<%= image_path('alix.jpg') %>'); background-position: center; background-size: cover">
              <div class="card-info">
                <div class="top py-1">
                  <div class="info">
                    <p class="px-3 tag">Talent Manager</p>
                  </div>
                </div>

                <h2 class="info title">ALIX</h2>

                <div class="bottom">
                  <div class="info justify-content-center">
                  <p>TM</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="team-card2">
            <div class="background" style="background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url('<%= image_path('manon.jpg') %>'); background-position: center; background-size: cover">
              <div class="card-info">
                <div class="top py-1">
                  <div class="info">
                    <p class="px-3 tag">Talent Manager</p>
                  </div>
                </div>

                <h2 class="info title">MANON</h2>

                <div class="bottom">
                  <div class="info justify-content-center">
                  <p>TM</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="team-card2">
            <div class="background" style="background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url('<%= image_path('melchior.jpg') %>'); background-position: center; background-size: cover">
              <div class="card-info">
                <div class="top py-1">
                  <div class="info">
                    <p class="px-3 tag">Talent Manager</p>
                  </div>
                </div>

                <h2 class="info title">MELCHIOR</h2>

                <div class="bottom">
                  <div class="info justify-content-center">
                  <p>TM</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="team-card2">
            <div class="background" style="background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url('<%= image_path('penelope.png') %>'); background-position: center; background-size: cover">
              <div class="card-info">
                <div class="top py-1">
                  <div class="info">
                    <p class="px-3 tag">Talent Manager</p>
                  </div>
                </div>

                <h2 class="info title">PENELOPE</h2>

                <div class="bottom">
                  <div class="info justify-content-center">
                  <p>TM</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div> -->
        <div class="img-wrapper">
          <div class="team-card">
            <div class="background" style="background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url(<%= image_path('maureen.jpg') %>); background-position: center; background-size: cover">
              <div class="card-info">
                <div class="top py-1">
                  <div class="info">
                  </div>
                </div>

                <div>
                  <h2 class="info title"> Maurine </h2>
                  <p class="info justify-content-center"><%= t('team.statut') %></p>
                </div>

                <div class="bottom">
                  <div class="info justify-content-center">
                    <a href="mailto:maurine@adcrew-paris.com" target="_blank"><i class="far fa-envelope fa-2x"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="team-card">
            <div class="background" style="background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url(<%= image_path('alix.jpg') %>); background-position: center; background-size: cover">
              <div class="card-info">
                <div class="top py-1">
                  <div class="info">
                  </div>
                </div>

                <div>
                  <h2 class="info title"> Alix </h2>
                  <p class="info justify-content-center"><%= t('team.statut') %></p>
                </div>

                <div class="bottom">
                  <div class="info justify-content-center">
                    <a href="mailto:alix@adcrew-paris.com" target="_blank"><i class="far fa-envelope fa-2x"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="team-card">
            <div class="background" style="background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url(<%= image_path('chloe.jpg') %>); background-position: center; background-size: cover">
              <div class="card-info">
                <div class="top py-1">
                  <div class="info">
                  </div>
                </div>

                <div>
                  <h2 class="info title"> Pénélope </h2>
                  <p class="info justify-content-center"><%= t('team.statut') %></p>
                </div>

                <div class="bottom">
                  <div class="info justify-content-center">
                    <a href="mailto:penelope@adcrew-paris.com" target="_blank"><i class="far fa-envelope fa-2x"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="team-card">
            <div class="background" style="background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url(<%= image_path('manon.jpg') %>); background-position: center; background-size: cover">
              <div class="card-info">
                <div class="top py-1">
                  <div class="info">
                  </div>
                </div>

                <div>
                  <h2 class="info title"> Manon </h2>
                  <p class="info justify-content-center"><%= t('team.statut') %></p>
                </div>

                <div class="bottom">
                  <div class="info justify-content-center">
                    <a href="mailto:manon@adcrew-paris.com" target="_blank"><i class="far fa-envelope fa-2x"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="team-card">
            <div class="background" style="background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url(<%= image_path('melchior.jpg') %>); background-position: center; background-size: cover">
              <div class="card-info">
                <div class="top py-1">
                  <div class="info">
                  </div>
                </div>

                <div>
                  <h2 class="info title"> Melchior </h2>
                  <p class="info justify-content-center"><%= t('team.statut') %></p>
                </div>

                <div class="bottom">
                  <div class="info justify-content-center">
                    <a href="mailto:melchior@adcrew-paris.com" target="_blank"><i class="far fa-envelope fa-2x"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="team-card">
            <div class="background" style="background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url(<%= image_path('carla.png') %>); background-position: center; background-size: cover">
              <div class="card-info">
                <div class="top py-1">
                  <div class="info">
                  </div>
                </div>

                <div>
                  <h2 class="info title"> Carla </h2>
                  <p class="info justify-content-center"><%= t('team.statut') %></p>
                </div>

                <div class="bottom">
                  <div class="info justify-content-center">
                    <a href="mailto:carla@adcrew-paris.com" target="_blank"><i class="far fa-envelope fa-2x"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="team-card">
            <div class="background" style="background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url(<%= image_path('nao.jpg') %>); background-position: center; background-size: cover">
              <div class="card-info">
                <div class="top py-1">
                  <div class="info">
                  </div>
                </div>

                <div>
                  <h2 class="info title"> Naomie </h2>
                  <p class="info justify-content-center"><%= t('team.statut3') %></p>
                </div>

                <div class="bottom">
                  <div class="info justify-content-center">
                    <%# <a href="mailto:naomie@adcrew-paris.com" target="_blank"><i class="far fa-envelope fa-2x"></i></a> %>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="team-card">
            <div class="background" style="background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url(<%= image_path('victoria.jpg') %>); background-position: center; background-size: cover">
              <div class="card-info">
                <div class="top py-1">
                  <div class="info">
                  </div>
                </div>

                <div>
                  <h2 class="info title"> Victoria </h2>
                  <p class="info justify-content-center"><%= t('team.statut2') %></p>
                </div>

                <div class="bottom">
                  <div class="info justify-content-center">
                    <%# <a href="mailto:victoria@adcrew-paris.com" target="_blank"><i class="far fa-envelope fa-2x"></i></a> %>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="team-card">
            <div class="background" style="background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url(<%= image_path('leonie.jpg') %>); background-position: center; background-size: cover">
              <div class="card-info">
                <div class="top py-1">
                  <div class="info">
                  </div>
                </div>

                <div>
                  <h2 class="info title"> Léonie </h2>
                  <p class="info justify-content-center"><%= t('team.statut4') %></p>
                </div>

                <div class="bottom">
                  <div class="info justify-content-center">
                    <%# <a href="mailto:leonie@adcrew-paris.com" target="_blank"><i class="far fa-envelope fa-2x"></i></a> %>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>


      </div>
    </section>

    <section class="team" id="moto">
      <div class="content">
        <div class="text-content">
          <h2><%= t('home.title4') %></h2>
          <div class="pt-3 moto">
            <p><%= t('home.paragraphe4') %></p>
          </div>
          <div class="rounded-shape">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 939.46 338.24"><defs><style>.cls-1{fill:none;stroke:#000;stroke-miterlimit:10;stroke-width:2px;}</style></defs><g id="Calque_2" data-name="Calque 2"><g id="Calque_1-2" data-name="Calque 1"><path class="cls-1" d="M.19,8.45c44.31-8.76,108.33-14.29,175,10,120.31,43.84,119.72,137.6,250,228,22.18,15.39,154.29,104.29,327.7,88.81,81.85-7.3,145.51-35.4,184.6-56.68"/><path class="cls-1" d="M871.54,270.6a442.39,442.39,0,0,1,66.52,7.71q-12.3,29.78-24.62,59.55"/></g></g></svg>
          </div>
        </div>
      </div>
      <%= image_tag "https://images.unsplash.com/photo-1533122250115-6bb28e9a48c3?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Njh8fGFic3RyYWN0fGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=800&q=60", alt: "alttext" %>
    </section>

  </div>
</div>
