<p>New message from <strong><%= @contact.email %></strong></p><p><strong>Name: <%= @contact.name %></strong></p>

<p><strong>Category : <%= @contact.category %></strong></p>

<p><strong>Entreprise: <%= @contact.entreprise %></strong></p>


<p>
  <%= @contact.message %>
</p>
