<%= simple_form_for @campaign do |c| %>
  <%# <div id="errors">
    <h2>
      <%= pluralize(@campaigns.errors.count, "error") %>
        <%# <ul>
          <% @campaigns.errors.full_message.each do |msg| %>
             <%# <li>
            <%= msg %>
            <%# </li>
          <% end  %>
         <%# </ul>
    </h2>
  </div> %>

  <div class="form-group">
    <%= c.input :name, input_html: { class: 'form-control'} %>
    <%= c.input :objectif, input_html: { class: 'form-control'} %>
    <%= c.input :activation, input_html: { class: 'form-control'} %>
    <%= c.input :reach, input_html: { class: 'form-control'} %>
    <%= c.input :tag, input_html: { class: 'form-control'} %>
    <%= c.input :photos, as: :file, input_html: { multiple: true, class: 'form-control'}, label: "Background photo" %>
    <%= c.input :photos, as: :file, input_html: { multiple: true, class: 'form-control'}, label: "Middle photo" %>
    <%= c.input :photos, as: :file, input_html: { multiple: true, class: 'form-control'}, label: "Top photo" %>
    <%= c.button :submit, class: 'btn btn-info' %>
  </div>
<% end %>
