
<!-- <div class="campagne-header container">
  <div class="campagne-title">
    <span>Studio</span>
    <h1>Campagne AD CREW</h1>
  </div>
  <div class="campagne-wording">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis numquam ea recusandae neque? Optio consequatur omnis iste exercitationem vero nemo dignissimos cumque assumenda fugit sunt cum suscipit iure, cupiditate labore deserunt excepturi sapiente. Cum facere aspernatur laboriosam culpa quos, optio iste quae temporibus animi asperiores similique. Suscipit ea praesentium molestiae.</p>
  </div>
  <div class="line-campagnes"></div>
  <div class="campaign-new">
    <% if user_signed_in? %>
      <%= link_to new_campaign_path do %>
        <%= image_tag 'plus-front-premium.png', width: 30 %>
      <% end %>
    <% end %>
  </div>
</div> -->

<div class="scroll">
  <div class="smooth">

    <section class="campaigns" id="preview-campaign">
      <div class="content">
        <div class="text-content">
          <h2>UNE AGENCE QUI PRODUIT</h2>
          <p class="pt-3">
            AD CREW accompagne ses nombreux clients dans leurs campagnes de communication digitale via la création de contenu stratégique sur mesure.
          </p>
        </div>
      </div>
      <div class="content">
        <div class="img-wrapper">
          <div class="gif-talent" id="gif-one"></div>
          <div class="gif-talent" id="gif-two"></div>
          <p class="note">
            Réalisation de campagnes publicitaires,Proposition d’égéries (célébrités, influenceurs), Shootings (Lookbooks Presse/ Commerciaux/ Sites web), Campagnes d’affichage (Street Marketing, Kiosque, Bus, TV...)
          </p>
          <div class="gif-talent" id="gif-three"></div>
          <div class="rounded-shape">
          </div>
        </div>
      </div>
    </section>

    <section class="campaigns" id="campaign">
      <div class="content">
        <div class="text-content">
          <div class="d-flex justify-content-between nav nav-pills" id="pills-tab" role="tablist">
            <a class="nav-link" id="pills-all-tab" data-toggle="pill" href="#pills-all" role="tab" aria-controls="pills-all" aria-selected="false">ALL</a>
            <a class="nav-link" id="pills-last-tab" data-toggle="pill" href="#pills-last" role="tab" aria-controls="pills-last" aria-selected="false">LAST CAMPAIGNS</a>
            <a class="nav-link active" id="pills-adcrew-tab" data-toggle="pill" href="#pills-adcrew" role="tab" aria-controls="pills-adcrew" aria-selected="true">AD CREW CAMPAIGNS</a>
            <% if user_signed_in? %>
              <%= link_to 'ADD A CAMPAIGN', new_campaign_path %>
            <% end %>
          </div>
        </div>
      </div>
      <div class="content">
        <div class="tab-content" id="pills-tabContent">
          <div class="tab-pane fade show active" id="pills-adcrew"role="tabpanel" aria-labelledby="pills-adcrew-tab" data-controller="adcrew">
            <div class="img-wrapper">
              <% @campaigns.where(tag: true).each do |campaign|%>

                <%= link_to campaign_path(campaign) do %>
                  <div class="campaign-card">
                    <div class="background" style="background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url('<%= campaign.photos.attached? ? cl_image_path(campaign.photos.first.key) : "https://source.unsplash.com/1600x900/?fashion" %>'); background-position: center; background-size: cover">
                      <div class="card-info">
                        <div class="top py-1">
                          <div class="info">
                            <% if campaign.tag %> <p class="px-3 tag">ADCREW campaign</p> <% end %>
                          </div>
                        </div>

                        <h2 class="info title"> <%= campaign.name%> </h2>

                        <div class="bottom">
                          <div class="info justify-content-center">
                            <% campaign.collabs.each do |collab| %>
                              <p><%= collab.talent.name %></p>
                            <% end %>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                <% end %>
              <% end %>
            </div>
          </div>

          <div class="tab-pane fade" id="pills-last"role="tabpanel" aria-labelledby="pills-last-tab">
            <div class="img-wrapper">
              <% @campaigns.last(3).each do |campaign|%>

                <%= link_to campaign_path(campaign) do %>
                  <div class="campaign-card">
                    <div class="background" style="background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url('<%= campaign.photos.attached? ? cl_image_path(campaign.photos.first.key) : "https://source.unsplash.com/1600x900/?fashion" %>'); background-position: center; background-size: cover">
                      <div class="card-info">
                        <div class="top py-1">
                          <div class="info">
                            <% if campaign.tag %> <p class="px-3 tag">ADCREW campaign</p> <% end %>
                          </div>
                        </div>

                        <h2 class="info title"> <%= campaign.name%> </h2>

                        <div class="bottom">
                          <div class="info justify-content-center">
                            <% campaign.collabs.each do |collab| %>
                              <p><%= collab.talent.name %></p>
                            <% end %>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                <% end %>
              <% end %>
            </div>
          </div>

          <div class="tab-pane fade" id="pills-all"role="tabpanel" aria-labelledby="pills-all-tab">
            <div class="img-wrapper">
              <% @campaigns.each do |campaign|%>

                <%= link_to campaign_path(campaign) do %>
                  <div class="campaign-card">
                    <div class="background" style="background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url('<%= campaign.photos.attached? ? cl_image_path(campaign.photos.first.key) : "https://source.unsplash.com/1600x900/?fashion" %>'); background-position: center; background-size: cover">
                      <div class="card-info">
                        <div class="top py-1">
                          <div class="info">
                            <% if campaign.tag %> <p class="px-3 tag">ADCREW campaign</p> <% end %>
                          </div>
                        </div>

                        <h2 class="info title"> <%= campaign.name%> </h2>

                        <div class="bottom">
                          <div class="info justify-content-center">
                            <% campaign.collabs.each do |collab| %>
                              <p><%= collab.talent.name %></p>
                            <% end %>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                <% end %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </section>

  </div>
</div>
