
<ul>
  <%# @campaigns.each do |campaign| %>
    <li><%#= campaign.name %></li>
  <%# end %>

</ul>

<h1>Campagne AD CREW</h1>


    <div class="container">
      <div class="swiper mySwiper">
        <div class="swiper-wrapper">
          <%= @campaigns.each do |campaign|%>
            <div class="swiper-slide wagon-cards">
              <div class="wagon-card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= campaign.photos.attached? ? cl_image_path(campaign.photos.first.key) : asset_path('background.jpeg') %>)">
                <%# <div class="tag">
                  <div class="campaign-tag"> %>
                    <%= link_to campaign.name, campaign %>
                  <%# </div>
                  <div class="campaign-tag">
                    <%# <i class="fas fa-map-marker-alt"></i><%= Geocoder::Calculations.distance_between([@user_campaign.latitude, @user_campaign.longitude], [campaign.latitude,campaign.longitude]).truncate(1) %>
                  <%# </div>
                </div> %>
              </div>
            </div>
          <% end %>
        </div>
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
        <div class="swiper-pagination"></div>
      </div>
    </div>

     <%= link_to "Gram it", new_campaign_path %>
