
<!-- <div class="campagne-header container">
  <div class="campagne-title">
    <span>Studio</span>
    <h1>Campagne AD CREW</h1>
  </div>
  <div class="campagne-wording">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis numquam ea recusandae neque? Optio consequatur omnis iste exercitationem vero nemo dignissimos cumque assumenda fugit sunt cum suscipit iure, cupiditate labore deserunt excepturi sapiente. Cum facere aspernatur laboriosam culpa quos, optio iste quae temporibus animi asperiores similique. Suscipit ea praesentium molestiae.</p>
  </div>
  <div class="line-campagnes"></div>
  <div class="campaign-new">
    <% if user_signed_in? %>
      <%= link_to new_campaign_path do %>
        <%= image_tag 'plus-front-premium.png', width: 30 %>
      <% end %>
    <% end %>
  </div>
</div> -->

<div class="scroll">
  <div class="smooth">

    <section class="campaigns" id="preview-campaign">
      <div class="content">
        <div class="text-content">
          <h2>NOS CAMPAGNES</h2>
          <p class="pt-3">
            AD CREW est une agence parisienne spécialisée dans le marketing d’influence. Son rôle est de mettre en relation les marques et les influenceurs.
          </p>
        </div>
      </div>
      <div class="content">
        <div class="img-wrapper">
          <div class="gif-talent" id="gif-one"></div>
          <p class="note">
            Lorem ipsum dolor sit amet consectetur adipisicing, elit. Iure consequatur tempore, alias maxime totam ipsa praesentium quaerat velit voluptatem numquam ex soluta sint officia? Possimus <span> nemo pariatur </span> aperiam, tenetur velit! Repudiandae natus quod alias facilis dignissimos esse repellendus accusantium nobis eius! Sit alias dolor ipsam minus deserunt esse, nemo!
          </p>
          <div class="gif-talent" id="gif-two"></div>
          <div class="gif-talent" id="gif-three"></div>
          <div class="rounded-shape">
          </div>
        </div>
      </div>
    </section>

    <section class="campaigns" id="campaign">
      <div class="content">
        <div class="text-content">
          <div class="d-flex justify-content-between">
            <a href="#">ALL</a>
            <a href="#">LAST CAMPAIGNS</a>
            <a href="#">AD CREW CAMPAIGNS</a>
          </div>
        </div>
      </div>
      <div class="content">
        <div class="img-wrapper">
          <div class="gif-talent" id="gif-one"></div>
          <div class="gif-talent" id="gif-three"></div>
          <div class="gif-talent" id="gif-two"></div>
          <div class="gif-talent" id="gif-four"></div>
          <div class="gif-talent" id="gif-two"></div>
          <div class="gif-talent" id="gif-one"></div>
          </div>
        </div>
      </div>
    </section>

  </div>
</div>

    <div class="container">
      <div class="swiper mySwiper">
        <div class="swiper-wrapper">
          <% @campaigns.each do |campaign|%>
            <%#= link_to campaign do  %>
              <div class="swiper-slide wagon-cards">
                <div class="wagon-card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= campaign.photos.attached? ? cl_image_path(campaign.photos.first.key) : asset_path('background.jpeg') %>)">
                  <%# <div class="tag">
                    <div class="campaign-tag"> %>
                      <%= link_to campaign.name, campaign %>
                    <%# </div>
                    <div class="campaign-tag">
                      <%# <i class="fas fa-map-marker-alt"></i><%= Geocoder::Calculations.distance_between([@user_campaign.latitude, @user_campaign.longitude], [campaign.latitude,campaign.longitude]).truncate(1) %>
                    <%# </div>
                 </div> %>
                </div>
              </div>
            <%# end %>
          <% end %>
        </div>
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
        <div class="swiper-pagination"></div>
      </div>
    </div>
