
<!-- <div class="campagne-header container">
  <div class="campagne-title">
    <span>Studio</span>
    <h1>Campagne AD CREW</h1>
  </div>
  <div class="campagne-wording">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis numquam ea recusandae neque? Optio consequatur omnis iste exercitationem vero nemo dignissimos cumque assumenda fugit sunt cum suscipit iure, cupiditate labore deserunt excepturi sapiente. Cum facere aspernatur laboriosam culpa quos, optio iste quae temporibus animi asperiores similique. Suscipit ea praesentium molestiae.</p>
  </div>
  <div class="line-campagnes"></div>
  <div class="campaign-new">
    <%# if user_signed_in? %>
      <%#= link_to new_campaign_path do %>
        <%#= image_tag 'plus-front-premium.png', width: 30 %>
      <%# end %>
    <%# end %>
  </div>
</div> -->

<div class="scroll">
  <div class="smooth">

    <section class="campaigns" id="preview-campaign">
      <div class="content">
        <div class="text-content">
          <h2><%= t('campagnes.title') %></h2>
          <p class="pt-3"> <%= t('campagnes.paragraphe_html') %> </p>
        </div>
      </div>
      <div class="content">
        <%# <p class="note" style="position: absolute;top: 358px;left: 51%;z-index: 10;width: 20vw;color: white;font-size: 18px;transform: rotate(-7deg);">
            <%#= t('campagnes.note') %>
        <%# </p>  %>
        <div class="img-wrapper">
          <div class="gif-talent" id="gif-one"></div>
          <div class="gif-talent" id="gif-two"></div>
          <%# <div class="gif-talent" id="gif-three"></div> %>
          <div class="gif-talent" id="gif-three"></div>
          <div class="gif-talent" id="gif-four"></div>
          <div class="rounded-shape">
          </div>
        </div>
      </div>
    </section>

    <section class="campaigns" id="campaign">
      <div class="content">
        <div class="text-content">
          <div class="d-flex justify-content-between nav nav-pills" id="pills-tab" role="tablist">
            <a class="nav-link active" id="pills-all-tab" data-toggle="pill" href="#pills-all" role="tab" aria-controls="pills-all" aria-selected="true"><%= t('campagnes.tab1') %></a>
            <%# <a class="nav-link" id="pills-last-tab" data-toggle="pill" href="#pills-last" role="tab" aria-controls="pills-last" aria-selected="false"><%= t('campagnes.tab2') %></a>
            <a class="nav-link" id="pills-adcrew-tab" data-toggle="pill" href="#pills-adcrew" role="tab" aria-controls="pills-adcrew" aria-selected="false"><%= t('campagnes.tab3') %></a>
            <% if user_signed_in? %>
              <%= link_to t('campagnes.tab4'), new_campaign_path, class: "nav-link" %>
            <% end %>
          </div>
        </div>
      </div>
      <div class="content">
        <div class="tab-content" id="pills-tabContent">
          <div class="tab-pane fade show active" id="pills-all"role="tabpanel" aria-labelledby="pills-all-tab" data-controller="all">
            <div class="img-wrapper">
              <% @campaigns.where.each do |campaign|%>

                <%= link_to campaign_path(campaign) do %>
                  <div class="campaign-card">
                    <div class="background" style="background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url('<%= campaign.photos.attached? ? cl_image_path(campaign.photos.first.key) : "https://source.unsplash.com/1600x900/?fashion" %>'); background-position: center; background-size: cover">
                      <div class="card-info">
                        <div class="top py-1">
                          <div class="info">
                            <% if campaign.tag %> <p class="px-3 tag"><%= t('campagnes.index.adcampagnes') %></p> <% end %>
                          </div>
                        </div>

                        <h2 class="info title"> <%= campaign.name %> </h2>

                        <div class="bottom">
                          <div class="info justify-content-center">
                            <% campaign.collabs.each do |collab| %>
                              <p><%= collab.talent.name %></p>
                            <% end %>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                <% end %>
              <% end %>
            </div>
          </div>

          <div class="tab-pane fade" id="pills-adcrew"role="tabpanel" aria-labelledby="pills-adcrew-tab">
            <div class="img-wrapper">
              <% @campaigns(tag: true).each do |campaign|%>

                <%= link_to campaign_path(campaign) do %>
                  <div class="campaign-card">
                    <div class="background" style="background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url('<%= campaign.photos.attached? ? cl_image_path(campaign.photos.first.key) : "https://source.unsplash.com/1600x900/?fashion" %>'); background-position: center; background-size: cover">
                      <div class="card-info">
                        <div class="top py-1">
                          <div class="info">
                            <% if campaign.tag %> <p class="px-3 tag"><%= t('campagnes.index.adcampagnes') %></p> <% end %>
                          </div>
                        </div>

                        <h2 class="info title"> <%= campaign.name%> </h2>

                        <div class="bottom">
                          <div class="info justify-content-center">
                            <% campaign.collabs.each do |collab| %>
                              <p><%= collab.talent.name %></p>
                            <% end %>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                <% end %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </section>

  </div>
</div>
