<div>
  <div class="col-md-6 col-md-offset-3">
    <div class="panel panel-default">
      <div class="panel heading campaign_image center">
        <%#= image_tag @campaign.image.url(:medium) %>
      </div>
      <div class="panel-footer">
        <div class="row">
          <div class="col md-6">
            <div class="btn-group" style="display: flex;justify-content: space-evenly">
              <% if user_signed_in? %>
              <div>
                  <%= link_to edit_campaign_path do %>
                    <%= image_tag 'pencil-front-premium.png', width: 30 %>
                  <% end %>
              </div>
              <div>
                <%= link_to campaign_path, method: :delete, data: { confirm: "Are you sure?"} do %>
                  <%= image_tag 'trash-can-front-premium.png', width: 30 %>
                <% end %>
              </div>
              <% end %>
              <div>
                <%#= link_to campaigns_path do %>
                  <%#= image_tag 'back-front-premium.png', width: 30 %>
                <%# end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="mainHeader"></div><!-- Ici se termine le mainHeader-->
<section id="pageContent">
  <div id="leftCol">
    <div class="bg-photo">
      <%= cl_image_tag @campaign.photos.first.key, style: "height: 100vh; width: 50vw;filter: grayscale(100%)" %>
    </div>
    <div class="mid-photo">
      <%= cl_image_tag @campaign.photos.second.key, style: "height: 45vh;filter: grayscale(100%)" %>
    </div>
    <div class="polaroid" style="height:24vh; width: 19vw">
      <%= cl_image_tag @campaign.photos.last.key, style: "height: 18vh; width: 17vw;filter: grayscale(100%)" %>
    </div>
  </div>



  <div id="rightCol">
    <figure  class="features-campaign">
      <div style="position: absolute;top: 21vh;left:45vw">
        <%= link_to campaigns_path do %>
          <%= image_tag 'back-front-premium.png', width: 15 %>
        <% end %>
      </div>
      <div class="campaign-title" style="margin-bottom: 50px">
        <h1 style="font-family: Sketchalot;line-height: 1.6;letter-spacing:5px"><%= @campaign.name %></h1>
      </div>
      <div class="campaign-info">
        <h3><span style="color: red">Objectif</span></h3>
        <h3><%= @campaign.objectif %> </h3>
      </div>
      <div class="campaign-info">
        <h3><span style="color: red">Activation</span></h3>
        <h3> <%= @campaign.activation %></h3>
      </div>
      <div class="campaign-stat">
        <h3> Total reach <span style="color: red"><%= @campaign.reach %>M</span> </h3>
      </div>
    </figure>
  </div>
</section><!--Ici se termine le pageContent-->
<div id="mainFooter"></div><!--Ici se termine le mainFooter-->

<!--Ici commmence le grid des campagnes-->
