<div>
  <div class="col-md-6 col-md-offset-3">
    <div class="panel panel-default">
      <div class="panel heading campaign_image center">
        <%#= image_tag @campaign.image.url(:medium) %>
      </div>
      <div class="panel-footer">
        <div class="row">
          <div class="col md-6">
            <div class="btn-group" style="display: flex;justify-content: space-evenly">
              <% if user_signed_in? %>
              <div>
                  <%= link_to edit_campaign_path do %>
                    <%= image_tag 'pencil-front-premium.png', width: 30 %>
                  <% end %>
              </div>
              <div>
                <%= link_to campaign_path, method: :delete, data: { confirm: "Are you sure?"} do %>
                  <%= image_tag 'trash-can-front-premium.png', width: 30 %>
                <% end %>
              </div>
              <% end %>
              <div>
                <%= link_to campaigns_path do %>
                  <%= image_tag 'back-front-premium.png', width: 30 %>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="mainHeader"></div><!-- Ici se termine le mainHeader-->
<section id="pageContent">
  <div id="leftCol">
    <div class="bg-photo">
      <%= cl_image_tag @campaign.photos.first.key, style: "height: 100vh; width: 50vw" %>
    </div>
    <div class="mid-photo">
      <%= cl_image_tag @campaign.photos.second.key, style: "height: 45vh" %>
    </div>
    <div class="polaroid" style="padding: 10px 10px 25px 10px; background: #eee; border: 1px solid #fff; float: left;padding: 10px 10px 54px 10px;background: #eee;border: 1px solid #fff;transform: rotate(
5deg);position: absolute;top: 15vh;left: 40vw">
      <%= cl_image_tag @campaign.photos.last.key, style: "width: 20vw;height: 30vh" %>
    </div>
  </div>



  <div id="rightCol">
    <figure  class="features">
      <div>
        <%= link_to campaigns_path do %>
          <%= image_tag 'back-front-premium.png', width: 30 %>
        <% end %>
      </div>
      <div class="campaign-title">
        <h1><%= @campaign.name %></h1>
      </div>
      <div class="campaign-info">
        <h2><%= @campaign.objectif %> </h2>
      </div>
      <div class="campaign-info">
        <h2> <%= @campaign.activation %></h2>
      </div>
      <div class="campaign-stat">
        <h2> Total reach <%= @campaign.reach %>M </h2>
      </div>
    </figure>
  </div>
</section><!--Ici se termine le pageContent-->
<div id="mainFooter"></div><!--Ici se termine le mainFooter-->

<!--Ici commmence le grid des campagnes-->
