<div>
  <div class="col-md-6 col-md-offset-3">
    <div class="panel panel-default">
      <div class="panel heading campaign_image center">
        <%#= image_tag @campaign.image.url(:medium) %>
      </div>
      <div class="panel-body">
        <div class="card-category" data-aos="zoom-in" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= @campaign.photos.attached? ? cl_image_path(@campaign.photos.first.key) : asset_path('background.jpeg') %>)">
          <h1><%= @campaign.name %> </h1>
          <p><%= @campaign.objectif %></p>
          <%#= cl_image_tag @campaign.photo.key, height: 300, width: 400, crop: :fill %>
        </div>
      </div>
      <div class="panel-footer">
        <div class="row">
          <div class="col-md-6">
            <div id="user">
              <p> Post by <%= @campaign.tag %></p>
            </div>
          </div>
          <div class="col md-6">
            <div class="btn-group pull-right">
              <% if user_signed_in? %>
                <%= link_to "Edit", edit_campaign_path, class: "btn btn-info" %>
                <%= link_to "Delete", campaign_path, method: :delete, data: { confirm: "Are you sure?"}, class: "btn btn-danger" %>
                <%= link_to "Back to the list", campaigns_path, class: "btn btn-primary" %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="mainHeader"></div><!-- Ici se termine le mainHeader-->
<section id="pageContent">
  <div id="leftCol">
    <article class="feature" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= @campaign.photos.attached? ? cl_image_path(@campaign.photos.first.key) : asset_path('background.jpeg') %>)">
    </article>
  </div>
  <% @campaign.photos.each do |photo| %>
		<%= cl_image_tag photo.key, style: "height: 45vh" %>
	<% end %>
  <div id="rightCol">
    <figure  class="features">
      <h1><%= @campaign.name %></h1>
      <h2><%= @campaign.objectif %> </h2>
      <h2> <%= @campaign.activation %></h2>
      <h2> Total reach <%= @campaign.reach %>M </h2>
    </figure>
  </div>
</section><!--Ici se termine le pageContent-->
<div id="mainFooter"></div><!--Ici se termine le mainFooter-->

<!--Ici commmence le grid des campagnes-->
<div class="container">
  <div class="campaign-cards">
    <div class="campaign-bg" style="width:400px;heigth:400px"><%= @campaign.photos.attached? ? cl_image_tag(@campaign.photos.first.key) : asset_path('background.jpeg') %></div>
    <div class="campaign-md"><%= @campaign.photos.attached? ? cl_image_tag(@campaign.photos.second.key) : asset_path('background.jpeg') %></div>
    <div class="campaign-sm"><%= @campaign.photos.attached? ? cl_image_tag(@campaign.photos.last.key) : asset_path('background.jpeg') %></div>
    <div class="campaign-info">
      <div class="campaign-title"><h1> <%= @campaign.name %> </h1></div>
      <div class="campaign-obj"> <h4> <%= @campaign.objectif %> </h4></div>
      <div class="campaign-details"><p> <%= @campaign.activation %></p> </div>
      <div class="campaign-reach"> <h1> <%= @campaign.reach %>M</h1></div>
    </div>

  </div>

</div>
