<div class="scroll">
  <div class="smooth">

    <section class="campaign" id="show-campaign">
        <div class="content">
          <div class="text-content">
            <a><%= link_to t('campagnes.show.links.index'), campaigns_path %></a>
            <% if user_signed_in? %>
              <%= link_to t('campagnes.show.links.edit'), edit_campaign_path %>
              <% if user_signed_in? %>
                <%= link_to "Supprimer", campaign_destroy_path(@campaign), method: :delete, data: { confirm: "Are you sure?" }%>
              <% end %>
            <% end %>
            <h2><%= @campaign.name %></h2>
            <%#= cl_image_tag @campaign.photos.last.key, alt: "alttext" %>
            <div class="py-3">
              <p><%= @campaign.objectif %></p>
              <%# <p><i class="fa-solid fa-globe pr-1 text-dark"></i><%= @campaign.activation %></p>
              <%# <p><i class="fa-solid fa-circle-dot pr-1 text-dark"></i><%= number_to_human(@campaign.reach) %></p>
            </div>
          </div>
        </div>
        <div class="content">
          <div class="img-wrapper">
            <%#= cl_image_tag @campaign.photos.first.key, alt: "alttext" %>
            <%#= cl_image_tag @campaign.photos.second.key, alt: "alttext" %>
            <%#= cl_image_tag @campaign.photos.last.key, alt: "alttext" %>
          <% if @campaign.video.attached? %>
            <% if @campaign.photos.attached? %>
              <%= cl_image_tag @campaign.photos.first.key, crop: :scale, fetch_format: :auto, flags: :lossy, quality: :auto, width: 500, alt: @campaign.name %>
            <% else %>
              <%= image_tag "https://images.unsplash.com/photo-1573575155376-b5010099301b?crop=entropy&cs=tinysrgb&fit=crop&fm=jpg&h=900&ixid=MnwxfDB8MXxyYW5kb218MHx8Y29zbWV0aWNzfHx8fHx8MTY0NDQ4MTc5OQ&ixlib=rb-1.2.1&q=80&utm_campaign=api-credit&utm_medium=referral&utm_source=unsplash_source&w=1600", alt: "alttext" %>
            <% end %>
            <% if @campaign.photos.attached? %>
              <%= cl_image_tag @campaign.photos.second.key, crop: :scale, fetch_format: :auto, flags: :lossy, quality: :auto, width: 500, alt: "alttext" %>
            <% else %>
              <%= image_tag "https://images.unsplash.com/photo-1521145369939-d3a47a4e18fa?crop=entropy&cs=tinysrgb&fit=crop&fm=jpg&h=900&ixid=MnwxfDB8MXxyYW5kb218MHx8aGFuZCBjb3NtZXRpY3N8fHx8fHwxNjQ0NDgyMTIz&ixlib=rb-1.2.1&q=80&utm_campaign=api-credit&utm_medium=referral&utm_source=unsplash_source&w=1600", alt: "alttext" %>
            <% end %>
            <%#= image_tag "https://images.unsplash.com/photo-1476360806206-b2f7af3fbda4?crop=entropy&cs=tinysrgb&fit=crop&fm=jpg&h=900&ixid=MnwxfDB8MXxyYW5kb218MHx8bW9kZWwsZmFzaGlvbnx8fHx8fDE2NDQ0ODE3Mzk&ixlib=rb-1.2.1&q=80&utm_campaign=api-credit&utm_medium=referral&utm_source=unsplash_source&w=1600", alt: "alttext" %>
            <% if @campaign.video.attached? %>
              <%= video_tag (url_for(@campaign.video)), crop: :scale, fetch_format: :auto, flags: :lossy, quality: :auto, width: 500, autoplay: true, muted: true, loop: true, playsinline: true, controls: false %>
            <% else %>
              <%= video_tag "random_video.mp4", crop: :scale, fetch_format: :auto, flags: :lossy, quality: :auto, width: 500, autoplay: true, muted: true, loop: true, playsinline: true, controls: false %>
            <% end %>
          <% else %>
            <% if @campaign.photos.attached? %>
              <%= cl_image_tag @campaign.photos.first.key, crop: :scale, fetch_format: :auto, flags: :lossy, quality: :auto, width: 265, alt: @campaign.name %>
            <% else %>
              <%= image_tag "https://images.unsplash.com/photo-1573575155376-b5010099301b?crop=entropy&cs=tinysrgb&fit=crop&fm=jpg&h=900&ixid=MnwxfDB8MXxyYW5kb218MHx8Y29zbWV0aWNzfHx8fHx8MTY0NDQ4MTc5OQ&ixlib=rb-1.2.1&q=80&utm_campaign=api-credit&utm_medium=referral&utm_source=unsplash_source&w=1600", alt: "alttext" %>
            <% end %>
            <% if @campaign.photos.attached? %>
              <div style="position:relative">
                <%= cl_image_tag @campaign.photos.second.key, crop: :scale, fetch_format: :auto, flags: :lossy, quality: :auto, width: 365, alt: @campaign.name %>
                <p class="note">
                  <%= @campaign.sentence %> <br>
                  <%= @campaign.sentence2 %>
                </p>
              </div>
            <% else %>
              <%= image_tag "https://images.unsplash.com/photo-1521145369939-d3a47a4e18fa?crop=entropy&cs=tinysrgb&fit=crop&fm=jpg&h=900&ixid=MnwxfDB8MXxyYW5kb218MHx8aGFuZCBjb3NtZXRpY3N8fHx8fHwxNjQ0NDgyMTIz&ixlib=rb-1.2.1&q=80&utm_campaign=api-credit&utm_medium=referral&utm_source=unsplash_source&w=1600", alt: "alttext" %>
            <% end %>
            <% if @campaign.photos.attached? %>
              <%= cl_image_tag @campaign.photos.third.key, crop: :scale, fetch_format: :auto, flags: :lossy, quality: :auto, width: 515, alt: @campaign.name %>
            <% else %>
              <%= image_tag "https://images.unsplash.com/photo-1476360806206-b2f7af3fbda4?crop=entropy&cs=tinysrgb&fit=crop&fm=jpg&h=900&ixid=MnwxfDB8MXxyYW5kb218MHx8bW9kZWwsZmFzaGlvbnx8fHx8fDE2NDQ0ODE3Mzk&ixlib=rb-1.2.1&q=80&utm_campaign=api-credit&utm_medium=referral&utm_source=unsplash_source&w=1600", alt: "alttext" %>
            <% end %>
          <% end %>
            <p class="note">
              <%#= @campaign.sentence %> <br>
              <%#= @campaign.sentence2 %>
            </p>
            <div class="rounded-shape">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 622 575.48"><defs><style>.cls-1{fill:none;stroke:#000;stroke-miterlimit:10;stroke-width:2px;}</style></defs><g id="Calque_2" data-name="Calque 2"><g id="Calque_1-2" data-name="Calque 1"><path class="cls-1" d="M153.1,280.29C66.14,368.8-19.35,455.82,5.31,512.89c33,76.41,259.65,90.44,410.3-8,196.83-128.56,248.33-438.83,171-494.1C489.48-58.65,170.88,262.19,153.1,280.29Z"/></g></g></svg>
            </div>
          </div>
        </div>
    </section>
    <section class="campaign" id="talents-involved">
      <div class="content">
        <div class="text-content">
          <div class="d-flex justify-content-between">
            <p><%= t('campagnes.show.paragraphe') %></p>
          </div>
        </div>
      </div>
      <div class="content">
        <div class="img-wrapper">
          <% @campaign.collabs.each do |collab|%>
            <%= link_to talent_path(collab.talent) do %>
              <div class="show-campaign-card">
                <div class="background" style="background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url('<%= collab.talent.photos.attached? ? cl_image_path(collab.talent.photos.first.key, crop: :scale, fetch_format: :auto, flags: :lossy, quality: :auto, width: 400) : "https://source.unsplash.com/1600x900/?model" %>'); background-position: top; background-size: cover; background-repeat: no-repeat;">

                  <% if collab.talent.category == "green" %>
                    <i class="fa-solid fa-seedling m-1" style="position: absolute;right: 0; padding: 10px; font-size: 20px; border: 1px solid black; border-radius: 50px; z-index: 1000; color: black;"></i>
                  <% end %>

                  <div class="card-info">
                    <div class="top py-1">
                      <div class="info">
                      </div>
                    </div>

                    <div>
                      <h2 class="info title"> <%= collab.talent.name%> </h2>
                      <p class="info justify-content-center"><%= collab.talent.category.upcase %></p>
                    </div>

                    <div class="bottom">
                      <div class="info justify-content-center">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
    </section>
    <section class="campaign" id="footer-section">

      <div class="content">
          <div class="" style="">
            <%= link_to root_path do %>
              <%= image_tag 'logo-blanc.png', alt:"ADCREW Agency", width: 200 %>
            <% end %>
          </div>

          <div class="" style="">
            <h6><%= t('footer.title') %></h6>
            <p>104 rue Réaumur <br> 75002 Paris <br> +33 (0)1 42 86 97 16 <br> <a href="mailto:contact@adcrew-paris.com" target="_blank">contact@adcrew-paris.com</a>
          </div>

          <div class="" style="">
            <h6><%= t('footer.title2') %></h6>
            <ul class="footer-links">
              <li><a> <%= link_to t('footer.links.campaigns'), campaigns_path %></a></li>
              <li><a> <%= link_to t('footer.links.talents'), talents_path %> </a></li>
              <li><a> <%= link_to t('footer.links.mentions'), mentions_path %></a></li>
              <li><a> <% if user_signed_in? %>
                <%= link_to t('footer.links.signout'), destroy_user_session_path, method: :delete %>
              <% else %>
                <%= link_to t('footer.links.signin'), new_user_session_path %>
              <% end %>
              </a></li>
              <li>
              </li>
            </ul>
          </div>

          <div class="" style="text-align:center">
            <ul class="social-icons">
              <li><a class="instagram" href="https://www.instagram.com/adcrew_agency/" target="_blank"><i class="fab fa-instagram"></i></a></li>
              <li><a class="linkedin" href="https://www.linkedin.com/company/adcrew-paris/" target="_blank"><i class="fab fa-linkedin"></i></a></li>
              <li><a class="tiktok" href="https://www.tiktok.com/@adcrewagency" target="_blank"><i class="fab fa-tiktok"></i></a></li>
            </ul>
          </div>
      </div>

      <div class="content" style=" width: 82vw; height: 10vh;">
        <p class="copyright-text" style="font-size: 0.8em">Copyright &copy; 2022 All Rights Reserved by
          <a style="font-size: 0.8em"> <%= link_to "Adcrew", root_path %></a>.<br>
          <span style="font-size: 0.8em">Made with <span class="heart" style="font-size: 0.8em">♥</span> by O&A</span>
        </p>
      </div>
    </section>
  </div>
</div>
