<!DOCTYPE html>
<html>
  <head>
    <title>ADCREW | INFLUENCE & STRATEGY</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap" rel="stylesheet">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
    <%#= stylesheet_pack_tag 'application' %>
  </head>

  <body id="gradient">
    <%= render 'shared/sidenavbar' %>
      <div class="main-container">
        <p class="notice" style="position:absolute"><%= notice %></p>
        <p class="alert" style="position:absolute"><%= alert %></p>
        <%= yield %>
      </div>
    <%= render 'shared/final-footer' %>
<!--
    <%# <script src="./javascript/slideshow.js"></script> %>
    <script type="text/javascript">
        $(document).ready(function () {
            $("#sidebar").mCustomScrollbar({
                theme: "minimal"
            });

            $('#dismiss, .overlay').on('click', function () {
                $('#sidebar').removeClass('active');
                $('.overlay').removeClass('active');
            });

            $('#sidebarCollapse').on('click', function () {
                $('#sidebar').addClass('active');
                $('.overlay').addClass('active');
                $('.collapse.in').toggleClass('in');
                $('a[aria-expanded=true]').attr('aria-expanded', 'false');
            });
        });
    </script>
    <script>$(function() {
  $('a[href*=#]').on('click', function(e) {
    e.preventDefault();
    $('html, body').animate({ scrollTop: $($(this).attr('href')).offset().top}, 500, 'linear');
  });
});</script>
    <script>
    const dates = document.querySelectorAll('.shop')

    for(let i = 0; i < dates.length; i++) {
    dates[i].innerHTML = "Shop"
}
    </script>
    <script>

    </script> -->
  </body>
</html>
