<!DOCTYPE html>
<html>
    <head>
        <title>ADCREW | INFLUENCE & STRATEGY</title>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="ADCREW est une agence parisienne spécialisée dans le marketing d’influence.">
        <%= csrf_meta_tags %>
        <%= csp_meta_tag %>
        <!-- Facebook Open graph data-->
        <meta property="og:title" content="ADCREW | INFLUENCE & STRATEGY">
        <meta property="og:type" content="website">
        <meta property="og:url" content="https://www.app-adcrew.herokuapp.com">
        <meta property="og:image" content="https://www.app-adcrew.herokuapp.com/app/assets/images/logo-tag.jpeg">
        <meta property="og:description"
          content="AD CREW est une agence parisienne spécialisée dans le marketing d’influence.">
        <meta property="og:site_name" content="ADCREW | INFLUENCE & STRATEGY">

        <!-- Twitter Card data -->
        <meta name="twitter:card" content="summary_large_image">
        <meta name="twitter:site" content="ADCREW | INFLUENCE & STRATEGY">
        <meta name="twitter:title" content="ADCREW | INFLUENCE & STRATEGY">
        <meta name="twitter:description" content="ADCREW est une agence parisienne spécialisée dans le marketing d’influence.">
        <meta name="twitter:creator" content="@adcrew-paris">
        <meta name="twitter:image:src" content="https://www.app-adcrew.herokuapp.com/app/assets/images/logo-tag.jpeg">

        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="mobile-web-app-capable" content="yes">
        <link rel="apple-touch-icon" sizes="57x57" href="app/assests/images/logo-tag.jpeg">
        <link rel="apple-touch-icon" sizes="60x60" href="app/assets/images/logo-tag.jpeg">
        <link rel="apple-touch-icon" sizes="72x72" href="app/assets/images/logo-tag.jpeg">
        <link rel="apple-touch-icon" sizes="76x76" href="app/assets/images/logo-tag.jpeg">
        <link rel="apple-touch-icon" sizes="120x120" href="app/assets/images/logo-tag.jpeg">
        <link rel="apple-touch-icon" sizes="144x144" href="app/assets/images/logo-tag.jpeg">
        <link rel="apple-touch-icon" sizes="152x152" href="app/assets/images/logo-tag.jpeg">
        <link rel="apple-touch-icon" sizes="180x180" href="app/assets/images/logo-tag.jpeg">
        <link rel="icon"  type="image/jpeg" sizes="32x32" href="app/assets/images/logo-tag.jpeg">
        <link rel="icon"  type="image/jpeg" sizes="96x96" href="app/assets/images/logo-tag.jpeg">
        <link rel="icon"  type="image/jpeg" sizes="16x16" href="app/assets/images/logo-tag.jpeg">
        <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap" rel="stylesheet">
        <%= favicon_link_tag asset_path('logo-tag.jpeg') %>
        <%= csrf_meta_tags %>
        <%= csp_meta_tag %>
        <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
        <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
        <script src="https://kit.fontawesome.com/b6edebd40a.js" crossorigin="anonymous"></script>
    </head>

    <body id="gradient haut">

        <%#= render 'shared/sidenavbar' %>
        <div class="main-container" style="background-color: white">
            <p class="notice" style="position:absolute"><%= notice %></p>
            <p class="alert" style="position:absolute"><%= alert %></p>
            <%= yield %>
        </div>
        <%#= render 'shared/final-footer' %>

    <%# <a href="#haut" class="arrow-top" style="position: fixed; bottom :1em; right:1em; padding:2em;"><i class="fas fa-sort-up" style="font-size: 18px;color: red;"></i></a> %>
    <%# <script>
      window.axeptioSettings = {
        clientId: "62601429bca4164c7ccd390f",
      };
       
      (function(d, s) {
        var t = d.getElementsByTagName(s)[0], e = d.createElement(s);
        e.async = true; e.src = "//static.axept.io/sdk.js";
        t.parentNode.insertBefore(e, t);
      })(document, "script");
    </script> %>
    </body>
</html>
